{% extends "base.html" %}
{% block title %}Quicktext for Gmail™ Options{% endblock %}
{% block header %}
<script src="../libs/ajax.js"></script>
<script src="../libs/md5.js"></script>
<script src="../libs/underscore-min.js"></script>
<script src="../libs/underscore.string.min.js"></script>
<script src="../background_scripts/settings.js"></script>
<script src="../background_scripts/main.js"></script>
<script src="../background_scripts/ui.js"></script> 
{% endblock %}
{% block content %}
<header>
<img src="../icons/icon48.png" valign="middle" />
<span>
  Quicktext for Gmail™
</span>
</header>
<input type="text" id="search" name="search" value="" placeholder="Search quicktexts" />
{% include "quicktext-form.html" %}
 <div class="buttons">
  <button id="new-quicktext-button">Add quicktext</button>
  <button id="delete-all-button">Delete all quicktexts</button>
</div>
<div class="clearfix"></div> 
{% include "quicktext-table.html" %}
<!-- Settings -->
<div class="clearfix"></div>
<h3>Sharing and Syncronization</h3>
<p>In order to syncronize your quicktexts or start sharing them with your team click on the button bellow.</p>
<button id="sync-button">Start syncronization</button>
<button id="sharing-button">Manage sharing settings</button>
<br />
<br />
{% endblock %}

