{% extends "base.html" %}
{% block title %}Quicktext for Gmail™ Options{% endblock %}
{% block header %}
<script src="../libs/md5.js"></script>
<script src="../libs/underscore-min.js"></script>
<script src="../background_scripts/main.js"></script>
<script src="../background_scripts/ui.js"></script> 
{% endblock %}
{% block content %}
<header>Quicktext for Gmail™</header>
<div class="tutorial">
  <strong>Keyboard shortcuts:</strong>
  <dl>
    <dt>Search for a Quicktext:</dt>
    <dd>Ctrl+Alt+Q</dd>
    <dt>Save selected text as Quicktext:</dt>
    <dd>Ctrl+Alt+S</dd>
  </dl>
</div>
<input type="text" id="search" name="search" value="" placeholder="Search quicktexts" />
<div class="buttons">
  <button id="new-quicktext-button">Add quicktext</button>
</div>
<div class="clearfix"></div>
{% include "quicktext-form.html" %}
{% include "quicktext-table.html" %}
<!-- Settings -->
<div class="buttons">
  <button id="sync-button">Start Sync</button>
</div>
<div class="clearfix"></div>
<h3>Settings</h3>
<p>If you want to share your Quicktexts with others in your team setup the
<strong>sharing key</strong> and the <strong>server values</strong> below. <a href='#'>Read more</a> about sharing Quicktext.
</p>
<div class="field">
  <label for="synckey">Sharing key</label>
  <input type="text" name="synckey" size="50" value=""/>
</div>
<div class="field">
  <label for="syncserver">Sharing server</label>
  <input type="text" size="50" name="syncserver" value=""/>
</div>
<div class="buttons">
  <button id="restore-options-button">Restore Defaults</button>
  <button id="save-options-button">Save Options</button>
</div>  
{% endblock %}
