{% extends "base.html" %}
{% block title %}{% endblock %}
{% block header %}
<script src="../libs/md5.js"></script>
<script src="../libs/jquery-2.0.2.min.js"></script>
<script src="../libs/underscore-min.js"></script>
<script src="../libs/underscore.string.min.js"></script>
<script src="../background_scripts/settings.js"></script>
<script src="../background_scripts/main.js"></script>
<script src="../background_scripts/ui.js"></script> 
<script src="../background_scripts/popup.js"></script> 
{% endblock %} 
{% block content %}
<div id="popup-container">
  <input type="text" id="search" name="search" value="" placeholder="Search quicktexts" />
  <div id="quicktexts-table-container">
  {% include "quicktext-table.html" %}
  </div>
</div>
{% endblock %}
