<div id="quicktext-form">
  <form name="quicktext-form0" action="">
    <input type="hidden" name="qt-id" id="qt-id" value="" /> <!-- local id -->
    <input type="hidden" name="qt-key" id="qt-key" value="" /> <!-- sync server id -->
    <div class="field">
      <label for="qt-title">Title</label>
      <input type="text" name="qt-title" id="qt-title" size="50" value=""/>
    </div>
    <div class="field">
      <label for="qt-subject">Subject</label>
      <input type="text" name="qt-subject" id="qt-subject" size="50" value=""/>
    </div> 
    <div class="field">
      <label for="qt-shortcut">Shortcut</label>
      <input type="text" name="qt-shortcut" id="qt-shortcut" size="50" value=""/>
    </div>
    <div class="field">
      <label for="qt-tags">Tags</label>
      <input type="text" name="qt-tags" id="qt-tags" size="50" value=""/>
      <span class="hint"> Comma separated</span>
    </div>
    <div class="field">
      <label for="qt-body">Quicktext Body</label>
      <textarea name="qt-body" id="qt-body" cols="100" rows="10"></textarea>
    </div>
    <div class="field">
      <label>&nbsp;</label>
      <button id="qt-submit">Save quicktext</button>
    </div>
  </form>
</div>
