<div class="modal quicktext-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-whatever="hello" aria-hidden="true"
                        aria-label="Close">&times;</button>
                <div class="dropdown pull-right small configure-fields">
                    <a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       role="button"
                       ng-click=""><i class="fa fa-gear"></i> Configure fields</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <p class="muted small">Show/hide template fields below</p>
                        <li>
                            <div class="checkbox">
                                <label><input type="checkbox" checked="checked" readonly="readonly"
                                              disabled="disabled"/>Template Name</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label><input type="checkbox" checked="checked" readonly="readonly"
                                              disabled="disabled"/>Text shortcut</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="subjectEnabled"
                                              ng-change="toggleField('subject', subjectEnabled)"/>Subject</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="tagsEnabled"
                                              ng-change="toggleField('tags', tagsEnabled)"/>Tags</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label><input type="checkbox" checked="checked" readonly="readonly"
                                              disabled="disabled"/>Content</label>
                            </div>
                        </li>
                    </ul>
                </div>
                <h4 class="modal-title">
                    <span ng-show="selectedTemplate.id">Edit template</span>
                    <span ng-show="!selectedTemplate.id">New template</span>
                </h4>
            </div>

            <form role="form" name="quicktext-form0" ng-submit="saveQt()">


                <div class="modal-body">
                    <input type="hidden" id="qt-id" ng-model="selectedTemplate.id"/> <!-- local id -->
                    <input type="hidden" id="qt-key" ng-model="selectedTemplate.key"/> <!-- sync server id -->
                    <div id="duplicate-alert-box" class="alert alert-info fade in hide">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <strong>Duplicated!</strong> Please edit this new template and hit <strong>Save
                        template</strong>.
                    </div>

                    <div class="row">
                        <div class="col-xs-7">

                            <div class="form-group" data-toggle="tooltip" data-placement="bottom">
                                <label for="qt-title">Template Name</label>
                                <input type="text" class="form-control" id="qt-title" ng-model="selectedTemplate.title"
                                       placeholder="Ex: Nice talking to you" autofocus required/>
                            </div>

                        </div>

                        <div class="col-xs-5">

                            <div class="form-group" data-toggle="tooltip" data-placement="bottom"
                                 title="Use this text shortcut to trigger the completion of the template using the TAB key. No spaces are allowed.">
                                <label for="qt-shortcut">
                                    Text shortcut
                                    <span class="text-muted">(Optional)</span>
                                </label>
                                <input type="text" class="form-control" id="qt-shortcut"
                                       ng-model="selectedTemplate.shortcut"
                                       pattern="^[^\s]*$"
                                       placeholder="nice"/>
                            </div>

                        </div>
                    </div>

                    <div class="form-group" data-toggle="tooltip" data-placement="bottom"
                         title="The e-mail subject will be replaced with this field. Only when this template is used."
                         ng-show="selectedTemplate.subject || subjectEnabled">
                        <label for="qt-subject">
                            Subject
                            <span class="text-muted">(Optional)</span>
                        </label>
                        <input type="text" class="form-control" id="qt-subject" ng-model="selectedTemplate.subject"
                               placeholder=""/>
                    </div>

                    <div class="form-group" data-toggle="tooltip" data-placement="bottom"
                         ng-show="selectedTemplate.tags || tagsEnabled"
                         title="Tags are useful to search and filter templates (when you have many).">
                        <label for="qt-tags">
                            Tags
                            <span class="text-muted">(Optional)</span>
                        </label>
                        <input type="text" class="form-control" id="qt-tags" size="50" ng-model="selectedTemplate.tags"
                               placeholder="Ex: en, sales, discounts"/>

                        <p class="help-block">Comma separated list of tags.</p>
                    </div>
                    <div class="form-group">
                        <label class="body-label">Template Content</label>

                        <div class="editor-wrapper">
                            <div class="toolbar">
                                <!-- This part of the toolbar only visible for richtext editor -->
                                    <span ng-if="settings.editor.enabled">
                                        <span class="ql-format-group">
                                            <select title="Font size" class="ql-size">
                                                <option value="10px">Small</option>
                                                <option value="13px" selected="">Normal</option>
                                                <option value="18px">Large</option>
                                                <option value="32px">Huge</option>
                                            </select>
                                         </span>

                                        <span class="ql-format-group">
                                            <span title="Bold" class="ql-format-button ql-bold"></span>
                                            <span class="ql-format-separator"></span>
                                            <span title="Italic" class="ql-format-button ql-italic"></span>
                                            <span class="ql-format-separator"></span>
                                            <span title="Underline" class="ql-format-button ql-underline"></span>
                                        </span>

                                        <span class="ql-format-group">
                                            <span title="List" class="ql-format-button ql-list"></span>
                                            <span class="ql-format-separator"></span>
                                            <span title="Bullet" class="ql-format-button ql-bullet"></span>
                                            <span class="ql-format-separator"></span>
                                            <select title="Text Alignment" class="ql-align">
                                                <option value="left" label="Left" selected=""></option>
                                                <option value="center" label="Center"></option>
                                                <option value="right" label="Right"></option>
                                                <option value="justify" label="Justify"></option>
                                            </select>
                                        </span>

                                        <span class="ql-format-group">
                                            <span title="Select the text you want to link"
                                                  class="ql-format-button ql-link"></span>
                                            <span class="ql-format-separator"></span>
                                            <span title="Insert image" class="ql-format-button ql-image"></span>
                                        </span>

                                        <span class="ql-format-group pull-right ">
                                            <span title="Show HTML source" class="ql-format-button fa fa-code"
                                                  ng-class="{'ql-active': showHTMLSource}"
                                                  ng-click="toggleHTMLSource()"></span>
                                        </span>
                                    </span>


                                <div class="dropdown insert-var-container">
                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                            tabindex="-1">
                                        Insert Variable <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a ng-click="insertVar('to.first_name')"
                                               title="First name of the person in the 'To' field"><strong>To:</strong>
                                            First Name</a></li>
                                        <li><a ng-click="insertVar('to.email')"
                                               title="Email address of the person in the 'To' field"><strong>To:</strong>
                                            Email</a></li>
                                        <li><a ng-click="insertVar('from.first_name')"
                                               title="First name of the person in the 'From' field"><strong>From:</strong>
                                            First Name</a></li>
                                        <li><a ng-click="insertVar('from.email')"
                                               title="Email address of the person in the 'From' field"><strong>From:</strong>
                                            Email</a></li>
                                        <li><a ng-click="insertVar('subject')"
                                               title="The subject of the e-mail"><strong>Subject</strong></a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a class="help-block text-muted small"
                                               href="http://help.gorgias.io/en/latest/src/04-templates.html"
                                               rel="external"
                                               target="_blank">Learn more about template variables <i
                                            class="fa fa-external-link"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-if="settings.editor.enabled" class="editor"></div>
                            <textarea ng-if="!settings.editor.enabled"
                                      id="qt-body" class="form-control"
                                      required="required"
                                      placeholder="It was nice talking to you today..."
                                      ng-model="selectedTemplate.body"></textarea>
                        </div>
                    </div>
                    <p ng-show="templates.length > 5 && !profile.user" class="premium-feature">
                        Share this template with your team. <a
                        href="https://gorgias.io/?utm_source=ChromeExtension&utm_medium=link&utm_term=Upgrade&utm_campaign=Upgrade-to-share#pricing"
                        target="_blank">Upgrade now!</a>
                    </p>
                </div>

                <div class="modal-footer">
                    <span ng-show="selectedTemplate.id">
                        <button class="btn btn-default pull-left" ng-click="duplicateQt()" tabindex="-1">Duplicate
                            template
                        </button>
                    </span>

                    <button class="btn btn-default" data-dismiss="modal" tabindex="-1">Cancel</button>
                    <button class="btn btn-primary" id="submit-button" type="submit">Save template</button>

                </div>

            </form>

        </div>
    </div>
</div>

