<div class="modal fade quicktext-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <span ng-show="selectedQt.id">Edit template</span>
                    <span ng-show="!selectedQt.id">New template</span>
                </h4>
            </div>

            <form role="form" name="quicktext-form0" ng-submit="saveQt()">


                <div class="modal-body">
                    <input type="hidden" id="qt-id" ng-model="selectedQt.id"/> <!-- local id -->
                    <input type="hidden" id="qt-key" ng-model="selectedQt.key"/> <!-- sync server id -->
                    <div id="duplicate-alert-box" class="alert alert-info fade in hide">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <strong>Duplicated!</strong> Please edit this new template and hit <strong>Save template</strong>.
                    </div>

                    <div class="row">
                        <div class="col-xs-7">

                            <div class="form-group">
                                <label for="qt-title">Title</label>
                                <input type="text" class="form-control" id="qt-title" ng-model="selectedQt.title"
                                       placeholder="A useful title that you can search for" autofocus required/>
                            </div>

                        </div>

                        <div class="col-xs-5">

                            <div class="form-group" data-toggle="tooltip" data-placement="bottom"
                                 title="Text to be entered in the email, before pressing the Tab key, to trigger the template.">
                                <label for="qt-shortcut">
                                    Tab Completion
                                    <span class="text-muted">(Optional)</span>
                                </label>
                                <input type="text" class="form-control" id="qt-shortcut"
                                       ng-model="selectedQt.shortcut"
                                       placeholder="shortKeyword"/>

                            </div>

                        </div>
                    </div>

                    <div class="form-group" data-toggle="tooltip" data-placement="bottom"
                         title="The e-mail subject will be replaced with this field. Only when this template is used.">
                        <label for="qt-subject">
                            Subject
                            <span class="text-muted">(Optional)</span>
                        </label>
                        <input type="text" class="form-control" id="qt-subject" ng-model="selectedQt.subject"/>
                    </div>
                    <div class="form-group" data-toggle="tooltip" data-placement="bottom"
                         title="Tags are useful to search and filter templates (when you have many).">
                        <label for="qt-tags">
                            Tags
                            <span class="text-muted">(Optional)</span>
                        </label>
                        <input type="text" class="form-control" id="qt-tags" size="50" ng-model="selectedQt.tags" placeholder="Ex: en, sales, discounts"/>

                        <p class="help-block">Comma separated list of tags.</span>
                    </div>
                    <div class="form-group">
                        <label for="qt-body">Body</label>

                        <div text-angular ng-model="selectedQt.body" ta-toolbar="[['bold','italics','underline'], ['ul','ol'], ['insertLink', 'insertImage'], ['insertVariable']]"></div>

                        <p class="help-block">Supports <a href="http://help.gorgias.io/en/latest/src/04-templates.html"
                                                          target="_blank">template variables</a>.</p>
                    </div>
                </div>

                <div class="modal-footer">
                    <span ng-show="selectedQt.id" class="duplicate-bottom pull-left"><a href=""
                                                                                        ng-click="duplicateQt()">Duplicate
                        template</a></span>

                    <button type="submit" class="btn btn-primary">Save template</button>

                    <span class="cancel-bottom">or <a href="" data-dismiss="modal">Cancel</a></span>
                </div>

            </form>

        </div>
    </div>
