<div id="post-install-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     data-backdrop="static"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-hidden="true"
                    aria-label="Close"
                    ng-click="closeHint('postInstall')"></button>
            </div>
            <div class="modal-body text-center">
                <h4 class="modal-title">You're all set!</h4>
                <p style="font-size: 1.1em;">
                    Now you can create more templates and start using them in Gmail, Outlook.com or LinkedIn.
                </p>
                <br />
                <a ng-href="{{gmailLink}}" target="_blank">
                    <img src="/icons/gmail-screenshot.png" alt="gmail screenshot" width="560">
                </a>
                <br />
                <br />
                <p>
                    <a ng-href="{{gmailLink}}" target="_blank" class="btn btn-lg">
                        Take me to Gmail!
                    </a>
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary"
                        type="submit"
                        data-dismiss="modal"
                        ng-click="closeHint('postInstall')"
                >
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
