<!doctype html>
<html data-ng-app="gqApp">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Quicktext Options</title>
<script src="../background/js/background.js"></script>
<link href="../background/css/background.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8">
</head>
<body ng-class="{ 'popup': pageAction }">

  <div class="container">
    <div class="sidebar-wrapper">

      <a ng-href="{{ settings.get('baseURL') }}" class="brand">
        <img src="../icons/icon48.png" alt="Quicktext"/>
        Quicktext
      </a>

      <div class="profile">
        <div class="profile-body" ng-show="profile.isLoggedin">
          <a class="profile-picture" ng-href="{{settings.get('baseURL')}}profile">
            <img class="img-circle" title="Setup your avatar on gravatar.com" alt="gravatar" ng-src="{{profile.gravatar()}}">
          </a>
          <div class="profile-container">
            <div class="profile-name">{{profile.firstName}} {{profile.lastName}}</div>
            <div class="profile-email"><a ng-href="{{settings.get('baseURL')}}profile">{{profile.email}}</a></div>
          </div>
        </div>

        <div class="anonymous" ng-show="!profile.isLoggedin">
          <a ng-click="showLogin()" href="">Login</a> or <a ng-click="showRegister()" href="#">Sign Up</a> to <em>share</em> quicktexts with your team.
        </div>

        <div class="profile-extra">
          <div class="profile-stats" data-toggle="tooltip" data-placement="bottom" data-original-title="33 Words per Minute: http://tinyurl.com/wiki-wpm" >
            So far you saved <strong>{{profile.savedWords}}</strong> words or <strong>{{profile.savedTime}}</strong>.
            <span class="glyphicon glyphicon-question-sign"></span>
          </div>

          <!-- <div class="profile-subscription">You have a <strong>{{profile.currentSubscription}}</strong> subscription.</div> -->

        </div>

      </div>

      <ul class="nav nav-pills nav-stacked">
        <li ng-class="{ 'active': (path === '/list') }"><a href="#/list">Quicktexts</a></li>
        <li ng-class="{ 'active': (path === '/settings') }"><a href="#/settings">Settings</a></li>
        <li><a ng-href="{{settings.get('baseURL')}}help/">Help</a></li>
      </ul>

      <div class="sidebar-footer">
        <div class="well sync-status" ng-show="profile.isLoggedin">
          <div class="sync-label">Last sync</div>
          <div class="sync-date"></div>
          <button class="btn btn-default btn-xs">Sync now!</button>
        </div>
      </div>

    </div>

    <div class="view-container">
      <div class="container-animation" data-ng-view></div>
    </div>
  </div>

</body>
</html>
