<!doctype html>
<html data-ng-app="gqApp">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Quicktext Options</title>
<script src="../background/js/background.js"></script>
<link href="../background/css/background.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8">
</head>
<body>

  <div class="container">
    <div class="row">

      <div class="col-sm-3 sidebar-wrapper">
        <a href="{{settings.baseUrl}}">
          <img src="../icons/icon48.png" class="logo-img" alt="Quicktext"/>
        </a>

         <div class="profile">
          <div class="profile-body" ng-show="profile.isLoggedin">
            <a class="profile-picture" ng-href="{{settings.get('baseURL')}}profile">
              <img class="img-circle" title="Setup your avatar on gravatar.com" alt="gravatar" ng-src="{{profile.gravatar()}}">
            </a>
            <div class="profile-container">
              <div class="profile-name">{{profile.firstName}} {{profile.lastName}}</div>
              <div class="profile-email"><a ng-href="{{settings.get('baseURL')}}profile">{{profile.email}}</a></div>
            </div>
          </div>
          <div class="anonymous" ng-show="!profile.isLoggedin">
            <a ng-click="showLogin()" href="">Login</a> or <a ng-click="showRegister()" href="#">Sign Up</a> to <em>share</em> quicktexts with your team.
          </div>
          <div class="clearfix">&nbsp;</div>
          <div class="profile-extra">
            <div class="profile-stats" data-toggle="tooltip" data-placement="bottom" data-original-title="33 Words per Minute: http://tinyurl.com/wiki-wpm" >So far you saved <strong>{{profile.savedWords}}</strong> words or <strong>{{profile.savedTime}}</strong>. <span class="glyphicon glyphicon-question-sign"></span></div>
            <!-- <div class="profile-subscription">You have a <strong>{{profile.currentSubscription}}</strong> subscription.</div> -->
          </div>
        </div>

        <ul class="nav nav-pills nav-stacked">
          <li ng-class="{ 'active': (path === '/list') }"><a href="#/list">Quicktexts</a></li>
          <li ng-class="{ 'active': (path === '/settings') }"><a href="#/settings">Settings</a></li>
          <li><a ng-href="{{settings.get('baseURL')}}help/">Help</a></li>
        </ul>

        <ul class="sidebar-nav">
          <li>
          <div class="section-header">Extension Settings</div>
          <div class="checkbox">
            <label for="autocompleteEnabled" data-toggle="tooltip" data-placement="top" data-original-title="Autocomplete dialog pops up while typing in the compose area of Gmail. It shows possible quicktexts">Autocomplete dialog <span class="glyphicon glyphicon-question-sign"></span></label>
            <input type="checkbox" id="autocompleteEnabled" ng-model="autocompleteEnabled" ng-change="settings.set('autocompleteEnabled', autocompleteEnabled)" />
          </div>
          <div class="checkbox">
            <label for="tabcompleteEnabled" data-toggle="tooltip" data-placement="bottom" data-original-title="Tab completion automatically inserts a quicktext. Trigger it using 'Tab Completion' keyword then press the 'Tab' key">Tab completion <span class="glyphicon glyphicon-question-sign"></span></label>
            <input type="checkbox" id="tabcompleteEnabled" ng-model="tabcompleteEnabled" ng-change="settings.set('tabcompleteEnabled', tabcompleteEnabled)" />
          </div>
          <div class="checkbox">
            <label for="sendStats" data-toggle="tooltip" data-placement="bottom" data-original-title="Help improve the Quicktext by sending anonymous statistics.">Send usage statistics <span class="glyphicon glyphicon-question-sign"></span></label>
            <input type="checkbox" id="sendStats" ng-model="sendStatsEnabled" ng-change="settings.set('sendStatsEnabled', sendStatsEnabled)" />
          </div>
          </li>
        </ul>
        <div class="sidebar-footer">
          <div class="well sync-status" ng-show="profile.isLoggedin">
            <div class="sync-label">Last sync</div>
            <div class="sync-date"></div>
            <button class="btn btn-default btn-xs">Sync now!</button>
          </div>
        </div>
      </div>

      <div class="col-sm-9 view-container">
        <div class="container-animation" data-ng-view></div>
      </div>

    </div>
  </div>

</body>
</html>
