<!doctype html>
<html data-ng-app="gqApp">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Quicktext Options</title>
    <script src="../background/js/background.js"></script>
    <link href="../background/css/background.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8">
</head>
<body ng-class="{ 'popup': pageAction }" key-trap>

<div class="container">
    <div class="sidebar-wrapper">

        <a ng-href="{{ settings.get('baseURL') }}" class="brand">
            <img src="../icons/icon48.png" alt="Quicktext"/>
            Quicktext
        </a>

        <div class="profile">

            <div class="profile-body" ng-show="profile.user">

                <a class="profile-picture" href="https://www.gravatar.com/" target="_blank">
                    <img class="img-circle" title="Setup your avatar on gravatar.com" alt="gravatar" ng-src="{{ profile.gravatar(profile.user.email) }}">
                </a>

                <div class="profile-details">
                    <p>
                      <strong>{{profile.user.info.given_name}} {{profile.user.info.family_name}}</strong>
                    </p>
                    <p>{{profile.user.email}}</p>
                </div>
            </div>

            <div class="anonymous" ng-show="!profile.user">
                <a ng-href="{{settings.get('baseURL')}}#login" ng-click="checkLogin()" target="_blank">Login</a> or
                <a ng-href="{{settings.get('baseURL')}}#registration" target="_blank" ng-click="checkLogin()">Sign Up</a>
                to <em>share</em> quicktexts with your team.
            </div>

            <div class="profile-extra">
                <div class="profile-stats" data-toggle="tooltip" data-placement="bottom"
                     data-original-title="33 Words per Minute: http://tinyurl.com/wiki-wpm">
                    So far you saved <strong>{{profile.savedWords}}</strong> words or
                    <strong>{{profile.savedTime}}</strong>.
                    <span class="glyphicon glyphicon-question-sign"></span>
                </div>

                <!-- <div class="profile-subscription">You have a <strong>{{profile.currentSubscription}}</strong> subscription.</div> -->

            </div>

        </div>

        <ul class="nav nav-pills nav-stacked">
            <li ng-class="{ 'active': (path === '/list') }"><a href="#/list">Quicktexts</a></li>
            <li ng-class="{ 'active': (path === '/settings') }"><a href="#/settings">Settings</a></li>
            <li><a href="http://help.quicktext.io/">Help</a></li>
        </ul>

        <div class="sidebar-footer">
            <div class="sync-status" ng-show="profile.user">
                <div class="sync-label" ng-show="lastSync">
                  Last sync
                  <span am-time-ago="lastSync"></span>.
                </div>
                <button class="btn btn-primary" ng-click="SyncNow()">Sync now</button>
            </div>
        </div>

    </div>

    <div class="view-container">
        <div id="check-login" class="alert alert-warning fade in hide">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Great!</strong> Now if you are <u>signed in</u> refresh this page.
        </div>
        <div class="container-animation" data-ng-view></div>
    </div>
</div>

<div ng-include="'includes/login.html'"></div>
<div ng-include="'includes/register.html'"></div>

</body>
</html>
