<div class="modal fade" id="add-groups-modal" tabindex="-1" role="dialog" data-aria-hidden="true">
    <form action="" ng-submit="saveGroup()">
        <div class="modal-dialog">
            <div class="modal-content">
                <form role="form" class="form-horizontal" name="member-form0" action="" ng-submit="saveGroups()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 ng-if="!selectedGroup.id" class="modal-title">Add Member Group</h4>
                        <h4 ng-if="selectedGroup.id" class="modal-title">Edit Member Group</h4>
                    </div>
                    <div class="modal-body members-form">
                        <div ng-if="formErrors" class="alert alert-danger updated-account-message">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <p ng-repeat="(field, errors) in formErrors">
                                <span ng-repeat="err in errors">{{ err }}</span>
                            </p>
                        </div>

                        <div class="form-group">
                            <label for="group-name">Group Name</label>
                            <input type="text" class="form-control" id="group-name" ng-model="selectedGroup.name"
                                   required=""/>
                            <!--
                            <label for="group-desc">Group Description <span class="text-muted">(optional)</span></label>
                            <textarea class="form-control" id="group-desc" ng-model="newGroup.desc"/>
                            -->
                        </div>

                        <label>Group Members</label>

                        <p class="help-block">Select people below to add them to this group</p>

                        <table class="table col-xs-12 member-table">
                            <tr ng-repeat="u in selectedGroup.members">
                                <th class="col-xs-1">
                                    <img ng-if="!u.thumbnail_photo_url"
                                         ng-src="http://www.gravatar.com/avatar/{{ u.email | gravatar }}?d=retro"
                                         class="avatar"/>
                                    <img ng-if="u.thumbnail_photo_url" ng-src="{{ u.thumbnail_photo_url }}"
                                         class="avatar"/>
                                </th>
                                <td class="col-xs-3">{{ u.name }}</td>
                                <td class="col-xs-3">{{ u.email }}</td>
                                <td class="pull-right">
                                    <input type="checkbox" bs-switch="" switch-on-text="Added" switch-off-text="Add"
                                           switch-size="small" switch-label-width="1" ng-model="u.selected"/>
                                    <!--
                                    <button class="btn btn-default" ng-if="!u.enabled" ng-click="u.enabled = true"><i class="fa fa-plus"></i> Add</button>
                                    <button class="btn btn-default active" ng-if="u.enabled" ng-click="u.enabled = false"><i class="fa fa-minus"></i> Added</button>
                                    -->
                                </td>
                            </tr>
                        </table>

                        <div ng-if="!profile.connections.google.apps.enabled">
                            <h4>-- or --</h4>
                            <button class="btn btn-default pull-right" ng-click="connectSocial('google', 'apps')">
                                Import groups from Google Apps
                            </button>
                        </div>


                    </div>
                    <div class="clearfix"></div>

                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" ng-submit="saveGroup()">Save Member Group</button>
                    </div>
                </form>
            </div>
        </div>
    </form>
</div>
