<div class="modal fade" id="add-members-apps-modal" tabindex="-1" role="dialog" data-aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" class="form-horizontal" name="member-form0" action="" ng-submit="saveMembers()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Import Users from Google Apps</h4>
                </div>
                <div class="modal-body members-form">
                    <div ng-if="formErrors" class="alert alert-danger updated-account-message">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <p ng-repeat="(field, errors) in formErrors">
                            <span ng-repeat="err in errors">{{ err }}</span>
                        </p>
                    </div>

                    <div ng-show="appsUsers && newUsers.length" class="apps-users">
                        <p class="help-block">Save some time by adding your team from Google Apps instead. Just toggle the users you need.</p>
                        <div class="row" ng-repeat="u in appsUsers">
                            <div class="cell col-xs-1"><img ng-if="u.thumbnail_photo_url" ng-src="{{ u.thumbnail_photo_url }}" class="avatar"/></div>
                            <div class="cell col-xs-4">{{ u.name }}</div>
                            <div class="cell col-xs-4">{{ u.email }}</div>
                            <div class="cell col-xs-3">
                                <input type="checkbox" bs-switch=""  switch-on-text="Selected" switch-off-text="Select" switch-size="small" switch-label-width="1"  ng-model="u.active"/>
                            </div>
                        </div>
                    </div>
                    <div ng-show="!newUsers.length">
                        <p class="alert alert-warning">
                            You reached the maximum number of available licenses.
                            To add more team members you can <a href="" ng-click="closeModal('#add-members-apps-modal', '/app#/account/subscriptions')">upgrade</a> or deactivate a few.
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <label for="sendNotification" class="pull-left" ng-show="newUsers.length">
                        <input type="checkbox" id="sendNotification" ng-model="sendNotification" ng-false-value="''"/>
                        Send login instructions by email (only new users)
                    </label>
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-show="newUsers.length" ng-click="saveMembers()">Import Members</button>
                </div>
            </form>
        </div>
    </div>
</div>
