/* Browser Action Popup
 */

@import "~bootstrap/dist/css/bootstrap.css";

body {
}

.popup-container {
    min-width: 22em;
}

.popup-box {
    padding: 1em;
}


/* icons
 */

.icon {
    vertical-align: middle;
}

.icon svg {
    display: inline;
    width: 12px;
}



