<header>
  <h1>Quicktexts</h1>
  <div class="pull-right header-actions">
    <input type="text" class="form-control" id="search-input" ng-model="searchText" ng-change="searchChange()" placeholder="Search quicktexts" />
  </div>
</header>

<div class="btn-toolbar" ng-hide="pageAction">
  <a href="#/list?id=new" class="btn btn-primary">New quicktext</a>
  <!--
  <a href="" ng-click="deleteAll()">Delete all Quicktexts</a>
  -->
</div>

<div class="quicktext-filters pull-right">
  <span ng-repeat="(tag, count) in tags">
    <a
      href=''
      class="label"
      ng-class="{true: 'label-primary', false: 'label-default'}[filterTags.indexOf(tag) !== -1]"
      ng-click="toggleFilterTag()"
      >{{tag}}<span ng-if="count > 1"> ({{count}})</span></a>
    </span>
  </span>
</div>

<div id="quicktext-table-container">

  <div class="list-group">

    <div class="list-group-item clearfix"
      ng-repeat="quicktext in quicktexts | filter:searchText | tagFilter:filterTags"
        ng-class="{'active': $index === focusIndex}"
        ng-click="controller == 'PopupCtrl' ? insertQuicktext($index) : true"
        data-quicktext-id="{{quicktext.id}}">

      <h4 class="list-group-item-heading">
        {{quicktext.title}}
      </h4>
      <p class="list-group-item-text" ng-show="quicktext.subject">
        Subject: {{quicktext.subject}}
      </p>
      <p class="list-group-item-text" ng-show="quicktext.tags">
          <span ng-repeat="tag in quicktext.tags.split(',')">
          <span class="label" ng-class="{true: 'label-primary', false: 'label-default'}[filterTags.indexOf(tag.trim()) !== -1]">{{tag.trim()}}</span>
        </span>
      </p>
      <p class="list-group-item-text">
        <strong title="{{quicktext.body}}" ng-bind-html="quicktext.body | truncate:100 | newlines | safe"></strong>
      </p>

       <div class="hover-actions">
          <a ng-href="#/list?id={{ quicktext.id }}" target="{{ pageAction && '_blank' }}" class="btn btn-primary btn-xs edit-button">Edit</a>

          <button type="button" class="close" ng-click="deleteQt()" title="Delete">&times;</button>
        </div>

    </div>

  </div>

<!--<table class="table table-hover" id="quicktext-table" ng-class="{'table-condensed': controller == 'PopupCtrl'}">
  <thead>
    <tr>
      <th>Title</th>
      <th ng-hide="controller == 'PopupCtrl'">Subject</th>
      <th>Tab Completion</th>
      <th>Tags</th>
      <th>Quicktext</th>
      <th ng-hide="controller == 'PopupCtrl'"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="quicktext in quicktexts | filter:searchText | tagFilter:filterTags "
        ng-class="{'active': $index === focusIndex}"
        ng-click="controller == 'PopupCtrl' ? insertQuicktext($index) : true"
        data-quicktext-id="{{quicktext.id}}"
        >
      <td>{{quicktext.title}}</td>
      <td ng-hide="controller == 'PopupCtrl'">{{quicktext.subject}}</td>
      <td>{{quicktext.shortcut}}</td>
      <td>
        <span ng-repeat="tag in quicktext.tags.split(',')">
          <span class="label" ng-class="{true: 'label-primary', false: 'label-default'}[filterTags.indexOf(tag.trim()) !== -1]">{{tag.trim()}}</span>
        </span>
      </td>
      <td title="{{quicktext.body}}" ng-bind-html="quicktext.body | truncate:100 | newlines | safe"></td>
      <td ng-hide="controller == 'PopupCtrl'" class="btn-group">
        <button class="btn btn-primary btn-xs edit-button" ng-click="showForm()">edit</button>
        <button class="btn btn-default btn-xs delete-button" ng-click="deleteQt()">delete</button>
      </td>
    </tr>
  </tbody>
</table>-->

</div>

<div ng-include="'includes/form.html'"></div>
<div ng-include="'includes/login.html'"></div>
