node_modules
selenium
chrome_profile
*.log

# It is added in git but we don't have to track this file
src/backgrount/js/environment.js

# Editor
.kateproject
.kateproject.d
*.kate-swp

# chrome extension
tmp/
ext/
*.pem
*.pub
*.crx
*.nex
