node_modules
selenium
chrome_profile
*.log
build

# It is added in git but we don't have to track this file
src/background/js/environment.js

# Editor
.idea
.kateproject
.kateproject.d
*.kate-swp

# chrome extension
tmp/
ext/
*.pem
*.pub
*.crx
*.nex
