/* dialog forms
 */
.form-label {
  width: 36%;
  flex-shrink: 0;

  font-weight: bold;
}

.form-select {
  --form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");

  appearance: none;
  display: block;
  width: 100%;
  margin-bottom: 0;
  padding: .375rem 2.25rem .375rem .75rem;
  background-color: var(--border-color);
  background-image: var(--form-select-bg-img);
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: 0;
  border-radius: var(--radius-small);
}

.form-check {
  display: block;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
}

.form-check-input {
  appearance: none;
  float: left;
  width: 1em;
  height: 1em;
  margin-left: -1.5em;
  margin-top: .25em;
  border: 0;
  border-radius: .25em;
  background-color: var(--border-color);
  background-image: var(--form-check-input-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  vertical-align: top;
  font-size: 1em;
}

.form-check-input:checked {
  --form-check-input-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");

  background-color: var(--primary-color);
}

.form-select:focus,
.form-check-input:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem hsl(var(--primary-color-hsl) / 25%);
}

.form-block {
  align-items: baseline !important;
}

.form-block:not(:last-of-type) {
  margin-bottom: .75rem;
}

form .btn {
  background-color: var(--border-color);
}
