/* dialog styles
 */
:host,
:host * {
  box-sizing: border-box;
}

:host {
  position: absolute;
  z-index: 2147483646;
  display: none;

  width: 100px;
  height: 100px;

  font-family: sans-serif;

  border: 1px solid red;
  border-radius: 5px;
  background: #fff;
  padding: 10px;
}

:host([visible]) {
  display: block;
}

/* TODO add support for rtl
 */
