.dialog-list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.dialog-list-item {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 8px 12px 8px 9px;
  border-radius: var(--radius-small);

  cursor: pointer;
  color: #161616;
  white-space: nowrap;
  line-height: 1.2;
}

.dialog-list-item h1 {
  display: inline-block;
  margin: 0 4px 0 0;

  font-size: 1.1em;
}

.dialog-list-item h1,
.dialog-list-item p {
  overflow: hidden;

  text-overflow: ellipsis;
}

.dialog-list-item abbr {
  overflow: hidden;
  padding: 0 4px;
  background: var(--gray-lighter);
  border: 1px solid var(--blue-light);
  border-radius: var(--radius-small);

  font-size: 11px;
  font-weight: bold;
  vertical-align: top;
  text-overflow: ellipsis;
}

.dialog-list-item p {
  margin: 0;

  color: #747474;
}

.edit-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 100%;
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: end;
  background: linear-gradient(to right, transparent, var(--gray-lighter) 60%);

  visibility: hidden;
}

:host li.active .edit-container {
  visibility: visible;
}

.dialog-list-item.active {
  background: var(--gray-lighter);
}

.list-no-results {
  padding: 20px;

  text-align: center;
}
