.dialog-footer {
  position: relative;
  z-index: 2;
  padding: var(--padding-y) var(--padding-x);
  background: var(--background-color-darker);
  border-top: 1px solid var(--border-color);

  font-size: 12px;
}

.dialog-shortcut {
  height: 24px;

  color: rgba(0,0,0,.3);
  font-weight: bold;
  text-align: right;
}

.dialog-footer .btn {
  background: transparent;
}

/* actions
 */
.btn-actions {
  display: inline-block;
}

.btn-actions svg {
  display: block;
  width: 18px;
  height: 18px;
}

/* settings
 */
.btn-settings {
  margin-left: .2rem;
}

/* show modals
 */
:host([modal=settings]) .dialog-settings,
:host([modal=actions]) .dialog-actions {
  visibility: visible;
  opacity: 1;
  transform: translateY(0) scale(1);
}

:host([modal=settings]) .btn-settings,
:host([modal=actions]) .btn-actions {
  background: #cacaca;
}
