/* Content styles
 * inside gmail
 */

div.qt-mirror {
    overflow: auto;
    position: absolute;
    z-index: -9999;
    margin: 0;

    white-space: pre-wrap;
    word-wrap: break-word;
}

div.qt-mirror .qt-caret {
    display: inline-block;
}

/* Autocomplete dropdown
*/

.qt-dropdown {
    --color-active-bg: #eee;
    --color-active-bg-dark: #dbdbdb;
    --color-active-bg-darker: #e4e4e4;
    --color-text: #000;
    --color-text-light: #525252;
    --padding: 8px;
}

.qt-dropdown {
    display: none;
    width: 360px;

    position: absolute;
    z-index: 2147483646;

    overflow: hidden;
    margin: 0;
    padding: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: 1px solid #c0c0c0;
    background: #fff;

    font-family: sans-serif;
    font-size: 13px;
}

.qt-dropdown-show {
    display: block !important;
}

.qt-dropdown * {
    box-sizing: border-box;
}

.qt-dropdown-content {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 16em;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.qt-dropdown-content .qt-item {
    position: relative;
    padding: var(--padding) 3em var(--padding) var(--padding);
    overflow: hidden;
    cursor: pointer;

    color: var(--color-text);
    text-overflow: ellipsis;
}

.qt-dropdown-content .qt-item.default {
    cursor: default;
    max-height: 4em;
}

.qt-dropdown-content .qt-item.active {
    background: var(--color-active-bg);
}

.qt-title {
    display: inline-block;
    overflow: hidden;
    padding: 0 .4em .4em 0;

    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.4em;
}

.qt-body {
    display: block;
    overflow: hidden;

    color: var(--color-text-light);
    white-space: nowrap !important;
    text-overflow: ellipsis;
}

.qt-shortcut {
    display: inline-block;
    padding: 0 4px;
    border: 1px solid var(--color-active-bg-darker);
    background: var(--color-active-bg-dark);
    border-radius: 2px;

    font-size: .8em;
    font-family: monospace;
    line-height: 1.6em;
    vertical-align: top;
}

.qt-edit {
    position: absolute;
    top: var(--padding);
    right: var(--padding);
    display: block;
    padding: 2px;
    background: transparent;
    border: 1px solid transparent;

    cursor: pointer;
    color: #444;
    opacity: .4;
}

.qt-edit:focus,
.qt-edit:hover {
    background: linear-gradient(#ededed, #ededed 38%, #dedede);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
    opacity: .8;
}

.qt-edit:after {
    content: '';
    display: block;
    width: 1.2em;
    height: 1.2em;
    background-image: url("data:image/svg+xml;utf8,<svg height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-size: contain;
}

.qt-dropdown-search {
    display: block;
    width: 100%;
    padding: var(--padding);
    border: 0;
    box-shadow: 0 1px 2px var(--color-active-bg-darker);

    font-size: 1em;
}

.qt-dropdown-search:focus {
    outline: none;
}

.qt-search-highlight {
    font-weight: bold;
}

.qt-blank-state {
    display: block;

    color: var(--color-text-light);
    text-align: center;
    padding: 5px;
}

.g-dropdown-toolbar {
    padding: 4px;
}

.qt-logged-out .g-dropdown-toolbar {
    display: none;
}

.g-dropdown-toolbar button {
    appearance: none;
    background: linear-gradient(#ededed, #ededed 38%, #dedede);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
    color: #444;
    text-shadow: 0 1px 0 #F0F0F0;
    transition: all .1s ease-out;
    cursor: pointer;
}

/* Quick Access Button for the Dialog
 */
.gorgias-qa-btn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2147483647;
    display: block;
    width: 18px;
    height: 18px;
    padding: 5px;
    opacity: 0;

    visibility: hidden;
    cursor: pointer;

    appearance: none;
    background-color: rgba(243, 244, 245, .4);
    border-radius: 5px;
    transition: opacity .1s ease-out;
}

.gorgias-qa-btn:hover {
    opacity: 1 !important;
    background-color: #e9eaec;
    box-shadow: 0 0 12px rgba(0,0,0,.1);
}

.gorgias-qa-btn:active {
    box-shadow: none;
    text-shadow: none;
}

.gorgias-qa-btn:focus {
    color: #000;
}

/* gorgias icon on the qa button
 */
.gorgias-qa-btn:after {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;

    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="29mm" height="38mm" viewBox="0 0 29 38"><path d="M14.19269 0c3.68786 0 6.68658.81961 8.99614 2.45882 2.30957 1.60196 3.46435 4.32157 3.46435 8.15883 0 1.41568-.33525 2.70098-1.00577 3.85588-.63327 1.11765-1.47142 2.08628-2.51446 2.90588 1.71356.89412 3.11047 2.1049 4.19076 3.63236C28.44124 22.53922 29 24.47647 29 26.82353c0 3.50196-1.22928 6.24019-3.68786 8.21471C22.89083 37.01275 19.64998 38 15.58961 38H.00002V0z" fill="%230607fb"/><path d="M.00001.00006v20.05518A20.240457 20.242517 0 0011.0152 23.3153a20.240457 20.242517 0 0013.46005-5.12465c-.42371-.29411-.87062-.56515-1.34231-.81128 1.04303-.8196 1.88128-1.78812 2.51454-2.90576.67053-1.15491 1.00581-2.44016 1.00581-3.85584 0-3.83725-1.15493-6.55709-3.4645-8.15906C20.87921.8195 17.88043.00006 14.19258.00006z" fill="%230983fa"/></svg>') no-repeat center center;
    background-size: contain;
}

/* show the qa button when a textarea, input or contenteditable is focused
 * when the button is clicked
 * when the dropdown is shown (after the button is clicked)
 */

.gorgias-qa-btn:active,
.qa-btn-dropdown-show .gorgias-qa-btn,
.gorgias-show-qa-btn .gorgias-qa-btn {
    opacity: .7;
    visibility: visible;
}

/* qa button active styles
 */

.qa-btn-dropdown-show .gorgias-qa-btn {
    background: #efefef;
    box-shadow: none;
    opacity: 1;
}

.qa-dropdown-show .gorgias-qa-btn:before {
    visibility: visible;
}

.gorgias-qa-tooltip {
    display: none;
    position: absolute;
    z-index: 2147483647;
    width: 175px;
    height: 14px;
    padding: 5px;
    background: #2A2A2A;
    border-radius: 2px;
    color: #fff;
    font-size: 70%;
    font-weight: bold;
}

.gorgias-qa-tooltip:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px 8px 0;
    border-color: #2A2A2A transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -8px;
    left: 133px;
}

.g-sidebar {
    width: 220px;
    border: 0;
}

/* Login notice
 */
.qt-info {
    display: none;
    padding: 8px;
    background-color: rgba(217,237,247,0.2);
    border-bottom: 1px solid #bce8f1;

    color: #31708f;
}

.qt-info a {
    display: inline-block;
    padding: .2em;

    color: #1155cc;
    font-weight: bold;
    text-decoration: underline;
}

.qt-info a:hover,
.qt-info a:active {
    text-decoration: none;
}

.qt-logged-out .qt-info {
    display: block;
}

/* hide the edit button when logged out
 */
.qt-logged-out .qt-edit {
    display: none;
}

/* hide website and registration links
 * (eg. on safari)
 */

.briskine-register-disabled .g-dropdown-toolbar,
.briskine-register-disabled .qt-edit {
    display: none;
}
