* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html,
body,
#sidepanel,
#sidepanel .briskine-dialog {
  height: 100%;
}

#sidepanel .dialog-search {
  padding: 3px;
}

#sidepanel .dialog-search input {
  border-radius: var(--radius-small);
  border: 2px solid transparent;
}

#sidepanel .dialog-search input:focus {
  border-color: var(--primary-color);
}

@media (prefers-color-scheme: dark) {
  #sidepanel .briskine-dialog {
    --primary-color-hsl: 216 99% 71%;
    --background-color: hsl(210 11% 15%);
    --background-color-highlight: hsl(210 10% 23%);
    --border-color-hsl: 210 9% 22%;
    --text-color-hsl: 210 14% 89%;
  }

  #sidepanel .btn-close {
    --btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  }
}
