* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html,
body,
#sidepanel,
#sidepanel .briskine-dialog {
  height: 100%;
}

#sidepanel .dialog-search {
  padding: 3px;
}

#sidepanel .dialog-search input {
  border-radius: var(--radius-small);
  border: 2px solid transparent;
}

#sidepanel .dialog-search input:focus {
  border-color: var(--primary-color);
}

@media (prefers-color-scheme: dark) {
  #sidepanel .briskine-dialog {
    --primary-color-hsl: 216 99% 71%;
    --background-color: hsl(210 11% 15%);
    --background-color-highlight: hsl(210 10% 23%);
    --border-color-hsl: 210 9% 22%;
    --text-color-hsl: 210 14% 89%;
  }
}
