<!doctype html>
<html data-ng-app="gApp" ng-csp="">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Gorgias Options</title>
    <script src="../background/js/background.js"></script>
    <link href="../background/css/background.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8">
</head>
<body key-trap>

<div class="container">
    <div class="sidebar-wrapper">

        <div class="profile">

            <div class="profile-body" ng-show="profile.user">

              <div class="profile-picture col-md-3 col-xs-3">
                <a href="https://gorgias.io/app#/account" target="_blank">
                    <img class="img-circle" title="Setup your avatar on gravatar.com" alt="gravatar" ng-src="{{ profileService.gravatar(profile.user.email) }}">
                </a>
              </div>

              <div class="profile-details col-md-7 col-xs-7">
                <p>
                  <strong>{{profile.user.info.name}}</strong>
                </p>
                <p>{{profile.user.email}}</p>
              </div>

              <div class="profile-dropdown col-md-2 col-xs-2 dropdown">
                <i class="fa fa-angle-down fa-2x dropdown-toggle" type="button" data-toggle="dropdown" id="profile-dropdown" aria-haspopup="true" aria-expanded="false"></i>
                <ul class="dropdown-menu pull-right" aria-labelledby="profile-dropdown">
                  <li><a href="#/settings">Settings</a></li>
                </ul>
              </div>
            </div>

            <div class="anonymous" ng-show="!profile.user">
                <a ng-href="{{baseURL}}#login" target="_blank" ng-click="checkLogin()">Login</a> or
                <a ng-href="{{baseURL}}#pricing" target="_blank">Sign Up</a>
                to <em>share</em> templates with your team.
            </div>

            <div class="profile-extra">
                <div class="profile-stats" data-toggle="tooltip" data-placement="bottom"
                     data-original-title="25 Words per Minute: http://tinyurl.com/wiki-wpm">
                    So far you saved <strong>{{profile.savedWords}}</strong> words or
                    <strong>{{profile.savedTime}}</strong>.
                    <span class="glyphicon glyphicon-question-sign"></span>
                </div>

                <!-- <div class="profile-subscription">You have a <strong>{{profile.currentSubscription}}</strong> subscription.</div> -->

            </div>

        </div>

        <ul class="nav nav-pills nav-stacked">
            <li ng-class="{ 'active': (path === '/list') }"><a href="#/list">Templates</a></li>
            <li ng-class="{ 'active': (path === '/settings') }"><a href="#/settings">Settings</a></li>
            <li ng-if="isChrome && !isOpera"><a href="https://chrome.google.com/webstore/detail/gorgias-email-templates-f/lmcngpkjkplipamgflhioabnhnopeabf/support" target="_blank">Help <i class="fa fa-external-link"></i></a></li>
            <li ng-if="isOpera"><a href="https://addons.opera.com/en/extensions/details/gorgias/?display=en&reports#feedback-container" target="_blank">Help <i class="fa fa-external-link"></i></a></li>
        </ul>

        <br/>
        <br/>
        <br/>
        <div class="sidebar-spam" ng-show="!(profile.user || savedEmail || showEmailAwesome)">
            <p><strong>Help us make Gorgias better!</strong><br/>We'd love to get in touch.</p>
            <form ng-submit="saveEmail()" class="form-inline">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="your@email.com" ng-model="userEmail" />
                </div>
                <button class="btn btn-default">Send</button>
            </form>
            <p></p>
            <p>Thanks!</p>
            <div class="signature">
                <a href="https://twitter.com/humanfromearth" target="_blank" title="@humanfromearth"><img src="/icons/alex.jpg" alt="Alex Plugaru" class="img-circle" /></a>
                <a href="https://twitter.com/Romain_Lapeyre" target="_blank" title="@Romain_Lapeyre"><img src="/icons/romain.jpg" alt="Romain Lapeyre" class="img-circle" /></a>
            </div>
        </div>
        <div class="thanks" ng-show="showEmailAwesome">
            Thanks! You're awesome! <i class="fa fa-smile-o"></i>
        </div>

        <div class="sidebar-footer">
            <a href="https://twitter.com/gorgiasio" title="Follow @gorgiasio and get some awesome tips on how to use it!" target="_blank"><img src="/icons/twitter.jpg" class="twitter-badge" alt="Follow on twitter"/></a>
            <br/>
            <br/>
            <div class="sync-status" ng-show="profile.user">
                <div class="sync-label" ng-show="lastSync">
                  Last sync
                  <span am-time-ago="lastSync"></span>.
                </div>
                <button class="btn btn-primary" ng-click="SyncNow()">Sync now</button>
            </div>
        </div>

    </div>

    <div class="view-container">
        <div id="check-login" class="alert alert-warning fade in hide">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Great!</strong> Now if you are <u>signed in</u> refresh this page.
        </div>
        <div class="container-animation" data-ng-view></div>
    </div>
</div>
</body>
</html>
