<!doctype html>
<html data-ng-app="gApp" ng-csp="">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Gorgias Options</title>
    <script src="../background/js/background.js"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <link href="../background/css/background.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8">
</head>
<body key-trap>

<div class="container">
    <div class="sidebar-wrapper" ng-controller="SidebarCtrl">

        <div class="profile">

            <div class="profile-body" ng-show="account">

              <div class="profile-picture col-md-4 col-xs-4">
                <a href="https://gorgias.io/app#/account" target="_blank">
                    <img class="img-circle" title="Setup your avatar on gravatar.com" alt="gravatar" ng-src="{{ profileService.gravatar(account.email) }}">
                </a>
              </div>

              <div class="profile-details col-md-8 col-xs-8">
                <p>
                  <strong ng-if="account.info.name">{{account.info.name}}</strong>
                  <strong ng-if="!account.info.name">{{account.info.given_name}} {{account.info.family_name}}</strong>
                </p>
                <!--<p>{{ account.email }}</p>-->
                <p><a href="#/settings">Settings</a></p>
                <p><a href ng-click="logOut()">Log out</a></p>
              </div>
            </div>

            <div class="anonymous premium-feature" ng-show="!account">
                <a href data-toggle="modal" data-target="#signin-modal">Login</a> or
                <a href data-toggle="modal" data-target="#signup-modal">Sign Up</a>
                to <em>share</em> templates with your team.<br>
                You can also change the <a ng-href="#/settings">Settings</a> to your convenience.
            </div>
        </div>

        <ul class="nav nav-pills nav-stacked">
            <li class="title"><h4>Templates</h4></li>
            <li ng-click="emptyFilterTags()" ng-class="{ 'active': (path === '/list') }"><a href="#/list"><b>All</b></a></li>

            <li ng-show="account.info.name" ng-click="emptyFilterTags()" ng-class="{ 'active': (path === '/list/private') }"><a href="#/list/private"><b>Private</b></a></li>
            <li ng-show="account.info.name" ng-click="emptyFilterTags()" ng-class="{ 'active': (path === '/list/shared') }"><a href="#/list/shared"><b>Shared</b></a></li>

            <li ng-show="!account.info.name" ng-click="emptyFilterTags()" class="pill-premium-feature"><a href="https://gorgias.io/#pricing" target="_blank"><b>Private</b></a></li>
            <li ng-show="!account.info.name" ng-click="emptyFilterTags()" class="pill-premium-feature"><a href="https://gorgias.io/#pricing" target="_blank"><b>Shared</b></a></li>

            <li class="title" ng-show="tags.length"><h4>Tags</h4></li>
            <li class="tag-list" ng-show="tags.length">
                <div ng-repeat="t in tags | orderBy:'-count'" class="label-wrapper">
                    <a href='' class="label label-default"
             ng-class="{true: 'label-primary', false: 'label-default'}[filterTags.indexOf(t.name) !== -1]"
             ng-click="toggleFilterTag(t.name)" title="Toggle this tag to filter the templates">{{t.name}}<span ng-if="t.count > 1"> ({{t.count}})</span>
                    </a>
                </div>
            </li>

            <li ng-if="isChrome && !isOpera"><a href="https://chrome.google.com/webstore/detail/gorgias-email-templates-f/lmcngpkjkplipamgflhioabnhnopeabf/support" target="_blank">Help <i class="fa fa-external-link"></i></a></li>
            <li ng-if="isOpera"><a href="https://addons.opera.com/en/extensions/details/gorgias/?display=en&reports#feedback-container" target="_blank">Help <i class="fa fa-external-link"></i></a></li>
        </ul>

        <div class="profile-extra alert alert-info" ng-show="profile.savedWords > 1500">
            <div class="profile-stats">
                So far you saved <strong>{{profile.savedWordsNice}}</strong> words or
                <strong>{{profile.savedTime}}</strong>.
            </div>
            <a class="btn-twitter" target="_blank"
               href="https://twitter.com/intent/tweet?hashtags=custserv&text=I%20saved%20{{profile.savedTime}}%20writing%20emails.%20Install%20%40gorgiasio%20and%20see%20how%20much%20time%20you%20can%20save!%20https%3A%2F%2Fgoo.gl%2FDoVLoQ">
                <i class="fa fa-twitter"></i>
                <span>Tweet about it</span>
            </a>
        </div>

        <div class="sidebar-footer">
            <a class="btn-twitter" href="https://twitter.com/gorgiasio" title="Follow @gorgiasio and get some awesome tips on how to use it!" target="_blank">
                <i class="fa fa-twitter"></i>
                <span>Follow @gorgiasio</span>
            </a>
            <br/>
            <br/>
            <div class="sync-status" ng-show="account">
                <div class="sync-label" ng-show="lastSync">
                  Last sync
                  <span am-time-ago="lastSync"></span>.
                </div>
                <button class="btn btn-primary" ng-click="SyncNow()">Sync now</button>
            </div>
        </div>
    </div>

    <div class="view-container">
        <div id="check-login" class="alert alert-warning fade in hide">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Great!</strong> Now if you are <u>signed in</u> refresh this page.
        </div>
        <div class="container-animation" data-ng-view></div>
    </div>


</div>
</body>

<div ng-include="'includes/login.html'"></div>
<div ng-include="'includes/signup.html'"></div>

</html>
