<!doctype html>
<html data-ng-app="gApp" ng-csp ng-strict-di>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Gorgias Options</title>
    <script src="../background/js/background.js"></script>
    <link href="../background/css/background.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8">
    <link rel="icon" href="/icons/favicon.svg">
</head>
<body key-trap>

<login
    ng-if="isLoggedIn === false"
    export-templates="exportTemplates()"
    >
</login>

<div class="container" ng-if="isLoggedIn === true">
    <div class="sidebar-wrapper" ng-controller="SidebarCtrl">
        <div class="sidebar-profile">
            <div class="profile">
                <div class="profile-body" ng-show="isAuthenticated()" ng-cloak>
                    <div class="profile-picture col-md-4 col-xs-4">
                        <a href="https://gravatar.com" target="_blank">
                            <img class="avatar"
                                 title="Setup your avatar on gravatar.com"
                                 alt="gravatar"
                                 ng-src="{{ account.email | gravatar }}">
                        </a>
                    </div>

                    <div class="profile-details col-md-8 col-xs-8">
                        <p>
                            <strong ng-if="account.info.name">{{account.info.name}}</strong>
                            <strong ng-if="!account.info.name">{{account.info.given_name}}
                                {{account.info.family_name}}</strong>
                        </p>
                        <!--<p>{{ account.email }}</p>-->
                        <p><a href ng-click="logOut()">Log out</a></p>
                    </div>
                </div>
                <div class="anonymous" ng-show="!isAuthenticated()">
                    <div>
                        <a href
                            data-toggle="modal"
                            data-target="#signin-modal"
                            class="btn btn-link"
                        >
                            <i class="fa fa-sign-in"></i>
                            <span>
                                Login
                            </span>
                        </a>
                        or
                    </div>
                    <div>
                        <a href="{{signupUrl}}"
                            target="_blank"
                            class="btn btn-link"
                        >
                            <i class="fa fa-user-circle"></i>
                            <span>
                                Create a free account
                            </span>
                        </a>
                    </div>
                    <div class="text-login-info text-muted">
                        to <em>sync</em> your templates.
                    </div>
                </div>
            </div>
            <div class="tools">
                <a href="#/settings" ng-click="emptyFilterTags()" class="settings-icon"
                   title="Settings"><i class="fa fa-gear"></i></a>
            </div>
        </div>
        <div class="sidebar-container">
            <ul class="nav nav-pills nav-stacked">
                <li class="title"><h4>Templates</h4></li>
                <!-- templates -->
                <li ng-click="emptyFilterTags()" class="template-tab"
                    ng-class="{ 'active': (path === '/list' && filterTags[0] == undefined) }"><a href="#/list">All</a>
                </li>

                <li class="template-tab"
                    ng-show="!isFree()"
                    ng-click="emptyFilterTags()"
                    ng-class="{ 'active': (path === '/list/shared') }"
                >
                    <a href="#/list/shared">Shared</a>
                </li>
                <li class="template-tab"
                    ng-show="!isFree()"
                    ng-click="emptyFilterTags()"
                    ng-class="{ 'active': (path === '/list/private') }"
                >
                    <a href="#/list/private">Private</a>
                </li>

                <li class="template-tab"
                    ng-show="isFree()"
                >
                    <a href ng-click="openSubscribe()">
                        <span data-toggle="tooltip"
                              data-placement="bottom"
                              title="Upgrade to share templates with your team"><i class="fa fa-briefcase premium"></i> Shared</span></a>
                </li>
                <li class="template-tab"
                    ng-show="isFree()"
                >
                    <a href ng-click="openSubscribe()">
                        <span data-toggle="tooltip"
                              data-placement="bottom"
                              title="Upgrade to share templates with your team"><i class="fa fa-briefcase premium"></i> Private</span></a>
                </li>

                <!-- tags -->
                <li class="title" ng-show="tags.length"><h4>Tags</h4></li>
                <li ng-repeat="t in tags" class="tags-wrapper"
                    ng-class="{true: 'active', false: ''}[filterTags.indexOf(t.name) !== -1]">
                    <a href class="tag"
                       ng-click="toggleFilterTag(t.name)"
                       title="Toggle this tag to filter the templates">
                        <i class="fa fa-hashtag icon"></i> {{t.name}}<span ng-if="t.count > 1"> ({{t.count}})</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div class="view-container">
        <div class="container-animation" data-ng-view></div>
    </div>
</div>

<div class="profile-stats" ng-cloak>
    You saved <strong>{{profile.savedTime}}</strong> using Gorgias!<br><br>
    <em ng-cloak ng-if="profile.savedWords < 1500 ">Big things have small beginnings &#128170;</em>
    <em ng-cloak ng-if="profile.savedWords > 1500 && profile.savedWords < 2500">Or the equivalent of writing a short story &#128214;</em>
    <em ng-cloak ng-if="profile.savedWords >= 2500 && profile.savedWords < 7500">Did you know mushrooms are one of the largest organisms in the world? &#127812;</em>
    <em ng-cloak ng-if="profile.savedWords >= 7500">You're awesome. Just awesome. &#9996;</em>
    <em ng-cloak ng-if="profile.savedWords >= 1500 ">
        <a class="btn-twitter" target="_blank"
           href="https://twitter.com/intent/tweet?hashtags=custserv&text=I%20saved%20{{profile.savedTime}}%20writing%20emails.%20Install%20%40gorgiasio%20and%20see%20how%20much%20time%20you%20can%20save!%20https%3A%2F%2Fgoo.gl%2FDoVLoQ">
            <i class="fa fa-twitter"></i>
            <span>Tweet about it</span>
        </a>
    </em>
</div>

</body>
</html>
