/* Gorgias
 * homepage demo
 */

@import "nib";

.gorgias-demo {
    position: relative;
    overflow: hidden;
    min-height: 300px;
}

container-box-shadow = 0 2px 2px rgba(0, 0, 0, .5);

.gorgias-editor-container {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    height: 240px;
    padding: 10px;

    /* border-top: 30px solid #efefef; */
    box-shadow: container-box-shadow;
    background: #fff;
    color: #333;
    text-align: left;
}

.gorgias-email-header-field {
    background-color: #404040;
    padding: 10px;
    margin: -10px -10px 10px -10px;
    color: white;
}

.gorgias-to-field {
    padding: 10px;
    margin: -10px -10px 10px -10px;
    border-bottom: 1px solid #efefef;
}

.gorgias-to-field .to {
    color: #737373;
    margin-right: 10px;
}

.gorgias-demo-hint {
    font-size: 2em;
    padding: 18px;
}

@-webkit-keyframes blinker {
    from {
        background-color: #FFE5A2;
    }
    to {
        background-color: #fff;
    }
}

.blink {
    padding: 3px;
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: 2;
    //-webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 1s;
}

.gorgias-demo-editor {
    position: relative;
    height: 155px;
    width: 100%;
    border: none;
    outline: none;
}

.gorgias-demo-frame-info {
    position: absolute;
    bottom: 60px;
    right: 10%;
    margin-right: 440px;
    display: block;
    max-width: 300px;
    opacity: 0;
    transition: all .2s ease-out;
    transform: translate3d(0, 12px, 0);

    color: #D3D3D3;
    .call-action {
        font-size: 1.2em;
        font-weight: bold;
        padding-bottom: 8px;
    }
}

.gorgias-demo-frame-info,
.gorgias-demo-frame-info p {
    font-size: 14px;
    text-align: right;
}

.gorgias-demo-frame-info ul {
    text-align: left;
}

.gorgias-demo-key {
    position: absolute;
    bottom: 40px;
    right: 10%;
    margin-right: 32px;
    padding: 8px 16px;
    background: rgba(0, 0, 0, .4);
    border-radius: 2px;

    color: #fff;
    font-size: 20px;
    font-weight: bold;

    transition: all .2s ease-in;
    visibility: hidden;
    opacity: 0;
}

/* content styles
 */

@import 'nib';

.gdemo-mirror {
    position: absolute;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    z-index: -9999;

    .gdemo-caret {
        display: inline-block;
    }
}

/* Autocomplete dropdown
*/

$colorActiveBg = #EEEEEE;
$colorText = #000;
$padding = 8px;

.gdemo-dropdown {
    display: none;
    position: fixed;
    z-index: 9999999;

    overflow: hidden;
    margin: 0;
    padding: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: 1px solid #c0c0c0;
    background: #fff;

    //font-family: 'sans-serif';
    font-size: 13px;
}

.gdemo-dropdown-show {
    display: block !important;
}

.gdemo-dropdown * {
    box-sizing: border-box;
}

.gdemo-dropdown-content {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 16em;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        position: relative;
        padding: $padding;
        max-width: 20em;
        overflow: hidden;
        cursor: pointer;

        color: $colorText;
        text-overflow: ellipsis;

        &.default {
            cursor: default;
            max-height: 4em;
        }

        &.active {
            background: $colorActiveBg;
        }

    }
}

.g-dropdown-toolbar {
    padding: 4px;
    
    button {
        appearance: none;
        background: linear-gradient(#ededed, #ededed 38%, #dedede);
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
        color: #444;
        text-shadow: 0 1px 0 #F0F0F0;
        transition: all .1s ease-out;
        cursor: pointer;
    }
    .g-hide-button {
        visibility: hidden;
        float: right;
        margin-top: 4px;
        font-size: 12px;
    }
}

.gdemo-title {
    display: block;
    overflow: hidden;
    padding: 0 3em .4em 0;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.gdemo-body {
    display: block;
    overflow: hidden;

    color: lighten($colorText, 32%);
    white-space: nowrap !important;
    text-overflow: ellipsis;
}

.gdemo-shortcut {
    position: absolute;
    top: $padding - 1px;
    right: $padding;
    padding: 2px 4px;
    border: 1px solid darken($colorActiveBg, 8%);
    background: darken($colorActiveBg, 4%);
    border-radius: 2px;

    font-size: .8em;
    font-family: monospace;
}

.gdemo-dropdown-search {
    display: block;
    width: 100%;
    padding: $padding;
    border: 0;
    box-shadow: 0 1px 2px darken($colorActiveBg, 8%);

    font-size: 1em;

    &:focus {
        outline: none;
    }
}

.gdemo-search-highlight {
    font-weight: bold;
}

.gdemo-blank-state {
    display: block;

    color: lighten($colorText, 32%);
    text-align: center;
}
