/* Editor styles
 */

/* insert var dropdown
 */

.insert-var-container {
    padding: 0;
    border: 0;
}

.insert-var-container > button:hover {
    box-shadow: none;
}

.insert-var-container > button .caret {
    margin: 0 0 0 emCalc(4);
}

.insert-var-container ul {
    padding: 0;
    overflow: hidden;
    
    text-align: left;
}

.insert-var-container ul a {
    padding: emCalc(3) emCalc(12);
}

