/* Login
 */

.login {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    padding: 4em;
    background: #f7f7f7;

    font-size: 14px;
}

.login-form-container {
    overflow: hidden;
    background-color: #fff;
    padding: 3em 4em;
    border-radius: 4px;

    box-shadow: 0 10px 8px -4px rgba(0,0,0,.05);
}

.login-form-container h1 {
    margin: 0 0 1em;
}

.login-form-container .form-control,
.login-form-container .btn-default {
    font-size: 1.2em;
    padding: .6em;
}

.login-form-container .notice-export {
    margin: 0 -4em -3em;
    padding: 3em 4em;
    border-width: 1px 0 0;
    border-radius: 0;
    background-color: rgba(217, 237, 247, 0.1);
}

.login-logo {
    display: inline-block;
    margin-bottom: 4em;
}

