/* Subscription
 */

.switch-default {
    background: #e0e0e0;
    border-radius: 3px;
    border: 2px solid #e0e0e0;

    color: #333;
}

.switch-default label {
    padding: 2px !important;
    cursor: pointer;
}

.switch-default a {
    background: #fff;
    padding: 0.25em 1em;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.12);
}

.subscription-premium {
    font-size: 1.1em;
}

.subscription-premium h2 {
    margin: 0 0 .6em;

    font-size: 1.6em;
    font-weight: bold;
}
