<div class="modal fade login-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"
     ng-controller="LoginCtrl">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    Login to Quicktext
                </h4>
            </div>

            <div class="modal-body">

                <div class="text-center">
                    <a href="#" ng-click="loginGoogle()"class="btn btn-default btn-social btn-google fa-2x">
                        <i class="fa fa-google-plus"></i> Sign in with Google
                    </a>
                </div>

                <div class="text-separator">
                    <p>Or sign in with your email</p>
                </div>

                <form class="form-signin" role="form" ng-submit="SubmitLogin()">

                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" id="email" ng-model="model.email" required/>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="text" class="form-control" id="password" ng-model="model.password" required/>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                <a href="">Forgot your password?</a>
                            </p>
                        </div>
                        <div class="col-sm-6 text-right">
                            <button type="submit" class="btn btn-large btn-primary btn-login">Login</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        Don't have an account? <a href="#">Sign Up</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
