<p>You are signed in as <strong>{{ account.email }}</strong><span ng-if="account.is_customer">, the <strong>Account
    Owner</strong>.
        You are using
        <button class="label label-licenses" data-container="body"
                data-toggle="popover"
                data-placement="top"
                data-html="true"
                data-trigger="focus"
                ng-class="licensesUsed >= activeSubscription.quantity - 1 ? 'label-warning' : 'label-success'"
                data-title="Number of licenses used"
                data-content="You can add more licenses on <a href='#/account/subscriptions'>Subscriptions</a> page.">
            {{ licensesUsed }}/{{ activeSubscription.quantity }}
        </button>
        licenses.
    </span>
</p>

<div class="toolbar">
    <div class="search-container input-group pull-right col-xs-4">
        <input type="text" class="form-control" ng-model="searchText" placeholder="Find by name or email"/>
    </div>
    <button class="btn btn-primary" ng-if="account.is_customer" ng-click="showMemberModal()"><i
            class="fa fa-user-plus"></i>
        Add team members
    </button>
</div>

<div ng-if="formErrors" class="alert alert-danger updated-account-message">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p ng-repeat="(field, errors) in formErrors">
        <span ng-repeat="err in errors">{{ err }}</span>
    </p>
</div>

<table class="table col-sm-12 member-table">
    <tr>
        <th>
            <img ng-if="!account.thumbnail_photo_url"
                 ng-src="{{ account.email | gravatar }}" class="avatar"/>
            <img ng-if="account.thumbnail_photo_url" ng-src="{{ account.thumbnail_photo_url }}" class="avatar"/>
        </th>
        <td>{{ account.info.name }}</td>
        <td>{{ account.email }}</td>
        <td class="pull-right"><a href="#/account">My account</a></td>
    </tr>
    <tr ng-repeat="u in filteredUsers = (users | filter:searchText)" ng-class="u.active == true ? '': 'inactive'">
        <th>
            <img ng-if="!u.thumbnail_photo_url"
                 ng-src="{{ u.email | gravatar }}" class="avatar"/>
            <img ng-if="u.thumbnail_photo_url" ng-src="{{ u.thumbnail_photo_url }}" class="avatar"/>
        </th>
        <td class="col-xs-4">
            <span ng-if="!account.is_customer">{{ u.name }}</span>
            <span ng-if="account.is_customer" class="editable">{{ u.name }}</span>
            <input type="text" class="form-control hidden edit-{{ u.id }}" ng-model="u.name"/>
        </td>
        <td class="col-xs-4">
            <span ng-if="!account.is_customer">{{ u.email }}</span>
            <span ng-if="account.is_customer" class="editable">{{ u.email }}</span>
            <input type="text" class="form-control hidden edit-{{ u.id }}" ng-model="u.email"/>
        </td>
        <td class="pull-right">
            <div class="hover-actions">
                <div class="btn-group" ng-if="account.is_customer">
                    <button class="btn btn-default" ng-click="edit()">Edit</button>
                    <button class="btn btn-primary hidden edit-{{ u.id }}" ng-click="saveMember()">Save Changes</button>
                </div>
                <div class="btn-group" ng-if="account.is_customer" ng-switch on="u.active">
                    <button class="btn btn-danger" ng-switch-when="true" ng-click="toggleMember()">Disable</button>
                    <button class="btn btn-danger" ng-switch-when="false" ng-click="toggleMember()">Enable</button>
                </div>
            </div>
            <!--input bs-switch  switch-size="small" switch-label-width="1"
                   ng-change="toggleMember()" type="checkbox"/>-->
        </td>
    </tr>
</table>

<div class="blank-state" ng-cloak="">
    <div ng-show="(searchText && !filteredUsers.length)">
        <p>
            No members found when looking up
            <strong ng-show="searchText">"{{ searchText }}"</strong>
        </p>

        <p>
            <button class="btn btn-primary" ng-click="searchText = ''"><i class="fa fa-times-circle-o"></i>
                Reset Search
            </button>
        </p>
    </div>
    <div ng-show="(!searchText && !users.length)">
        You don't have any team members <i class="fa fa-frown-o"></i> <br/>
        <span class="">
            Go ahead <a href="" ng-click="showMemberModal()"><i class="fa fa-user-plus"></i> add some.</a>!
        </span>
    </div>
</div>

<div ng-include="'/pages/views/account/includes/add_members.html'"></div>
