<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger fade in" ng-if="paymentError">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>Oh snap! Failed to upgrade!</h4>
            <p>{{ paymentError }}</p>
        </div>
        <div class="alert alert-success fade in" ng-if="paymentMsg">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>It's a success!</h4>
            <p>{{ paymentMsg }}</p>
        </div>

        <subscription-canceled-notice
            subscription="activeSubscription"
            ng-if="isCanceled()"
            >
        </subscription-canceled-notice>

        <subscription-premium
            subscription="activeSubscription"
            calculate-price="calculatePrice(amount, quantity, percentOff)"
            get-interval="getInterval(plan)"
            create-subscription="createSubscription(plan, quantity)"
            ng-if="isFree() && isOwner()"
            >
        </subscription-premium>

        <subscription-active
            subscription="activeSubscription"
            get-interval="getInterval(plan)"
            calculate-price="calculatePrice(amount, quantity, percentOff)"
            update-payment="updatePayment()"
            update-subscription="updateSubscription(plan, quantity)"
            is-premium="isPremium()"
            is-owner="isOwner()"
            >
        </subscription-active>

        <subscription-users
            subscription="activeSubscription"
            get-interval="getInterval(plan)"
            calculate-price="calculatePrice(amount, quantity, percentOff)"
            update-subscription="updateSubscription(plan, quantity)"
            ng-if="isPremium() && isOwner()"
            >
        </subscription-users>

        <subscription-cancel
            subscription="activeSubscription"
            cancel-subscription="cancelSubscription()"
            ng-if="isPremium() && isOwner()"
            >
        </subscription-cancel>
    </div>
</div>

