<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger fade in" ng-if="paymentError">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>Oh snap! Failed to upgrade!</h4>
            <p>{{ paymentError }}</p>
        </div>
        <div class="alert alert-success fade in" ng-if="paymentMsg">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>It's a success!</h4>
            <p>{{ paymentMsg }}</p>
        </div>

        <subscription-active
            subscription="activeSubscription"
            get-interval="getInterval(plan)"
            calculate-price="calculatePrice(amount, quantity, percentOff)"
            update-payment="updatePayment()"
            update-subscription="updateSubscription(plan, quantity)"
            >
        </subscription-active>

        <subscription-users
            subscription="activeSubscription"
            get-interval="getInterval(plan)"
            calculate-price="calculatePrice(amount, quantity, percentOff)"
            update-subscription="updateSubscription(plan, quantity)"
            >
        </subscription-users>

        <subscription-cancel
            subscription="activeSubscription"
            cancel-subscription="cancelSubscription()"
            >
        </subscription-cancel>
    </div>

    <div class="col-sm-8" ng-if="!bonusPlan">
        <div class="row">
            <div class="col-sm-6" ng-repeat="plan in plans[preferredCurrency]">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>{{ plan.name }} <span class="label label-success" ng-if="plan.interval == 'year'">
                            Best Value!</span></strong>
                    </div>
                    <div class="panel-body">
                        <span class="price">{{ (plan.amount * quantity * couponPrecentOff) }}</span>
                        <span class="currency">{{ plan.currency|uppercase }}</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">x 1 User/Year:
                            <span class="amount"
                                  ng-if="plan.interval == 'month'">{{ (plan.amount * couponPrecentOff * 12 * quantity) }}</span>
                            <span class="amount"
                                  ng-if="plan.interval == 'year'">{{ (plan.amount * couponPrecentOff * quantity) }}</span>
                            <span ng-if="couponPrecentOffLabel">({{ couponPrecentOffLabel }} discount)</span>
                            <span class="currency-sign">{{ plan.currency|uppercase }}</span>
                        </li>
                        <li class="list-group-item">
                            <input type="number" class="quantity-input" id="quantity" ng-model="quantity" min="1"/>
                            <label for="quantity">total users.</label>
                        </li>
                        <li class="list-group-item">
                            <a class="btn btn-primary subscribe-button" href=""
                               ng-click="updateSubscription(plan, quantity)">Update Subscription</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

