<script src="https://checkout.stripe.com/checkout.js"></script>
<div class="row" >
    <div class="col-sm-4">

        <div class="subscriptions">
            <p class="subscription">
                Your <em ng-if="activeSubscription.active">current</em> <strong>{{ activeSubscription.plan.name }}</strong> subscription
                <span ng-if="activeSubscription.active === null">will start on</span>
                <span ng-if="activeSubscription.active !== null">started on</span>
                <strong>{{ activeSubscription.start_datetime | date:'dd MMMM yyyy' }}</strong><span ng-if="activeSubscription.active === false">
                 and ended on <strong>{{ activeSubscription.end_datetime | date:'dd MMMM yyyy' }}</strong></span><span ng-if="activeSubscription.quantity">
                 with <strong>{{ activeSubscription.quantity }}</strong> member<span ng-if="activeSubscription.quantity > 1">s</span></span>.
            </p>
        </div>

        <p class="small">Only you, as the account owner, can upgrade, downgrade or change the billing information for
            the account.</p>
        <br>
        <p>If your card expired, or you want to switch to another card:</p>
        <a class="btn update-cc-btn" href="" ng-click="updateCC()">Update your Credit Card</a>
    </div>

    <div class="col-sm-8">
        <div class="alert alert-danger fade in" ng-if="paymentError">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>Oh snap! Failed to upgrade!</h4>
            <p>{{ paymentError }}</p>
        </div>
        <div class="alert alert-success fade in" ng-if="paymentMsg">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>It's a success!</h4>
            <p>{{ paymentMsg }}</p>
        </div>
        <div class="row">
            <div class="col-sm-6" ng-repeat="plan in plans[preferredCurrency]">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>{{ plan.name }} <span class="label label-success" ng-if="plan.interval == 'year'">
                            Best Value!</span></strong>
                    </div>
                    <div class="panel-body">
                        <span class="price">{{ (plan.amount * quantity * couponPrecentOff) }}</span>
                        <span class="currency">{{ plan.currency|uppercase }}</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">x 1 User/Year:
                            <span class="amount"
                                  ng-if="plan.interval == 'month'">{{ (plan.amount * couponPrecentOff * 12 * quantity) }}</span>
                            <span class="amount"
                                  ng-if="plan.interval == 'year'">{{ (plan.amount * couponPrecentOff * quantity) }}</span>
                            <span ng-if="couponPrecentOffLabel">({{ couponPrecentOffLabel }} discount)</span>
                            <span class="currency-sign">{{ plan.currency|uppercase }}</span>
                        </li>
                        <li class="list-group-item">
                          <input type="number" class="quantity-input" id="quantity" ng-model="quantity" />
                          <label for="quantity">total users.</label>
                        </li>
                        <li class="list-group-item">
                            <a class="btn btn-primary subscribe-button" href="" ng-click="updateSubscription(plan, quantity)">Update Subscription</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-inline text-center">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="discountCode" placeholder="Enter coupon code here"/>
                    <button class="btn btn-default" ng-click="addDiscountCode(discountCode)">Add discount code</button>
                </div>
            </div>
            <br />
            <div>
                <p class="alert alert-info"><strong>Note:</strong> You'll get billed only for what you use.
                    <br /><br />
                    Simple example: If you begin with 2 users (10$/month) on 1st May, then on 15th May if you add a 3rd user then on 31st you get billed 12.5$.</p>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="!account.is_customer">
    <br/>
    <p>Only the account owner, can upgrade, downgrade or change the billing information.</p>
    <p>Please contact <a href="mailto:support@gorgias.io">support@gorgias.io</a> for more information.</p>
</div>
