<link href="../background/css/installed.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8">
<div class="container installed-container">
    <div class="header">
        <!--
        <a href="https://gorgias.io/#login" class="btn btn-lg btn-primary pull-right">Sign In</a>
        -->
        <a ng-href="{{ settings.get('baseURL') }}" class="brand" target="_blank">
            <img src="../icons/white-logo.png" alt="Gorgias"/>
        </a>
    </div>
    <div class="hero text-center">
        <h1>Welcome aboard!</h1>
        <p class="lead">Strap on your seatbelts, you are about to write much faster!</p>
    </div>
    <div class="steps">
        <div class="col-lg-4">
            <img src="" alt=""/>
            <p class="desc">Quickly </p>
        </div>
        <div class="col-lg-4">
            <img src="" alt=""/>
            <p class="desc">Click on the "Gorgias" button to add a new template.</p>
        </div>
        <div class="col-lg-4">
            <img src="" alt=""/>
            <p class="desc">Save time!</p>
        </div>
    </div>

</div>
<p id="browser-action-pointer"></p>
