<link href="../background/css/installed.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8">

<div class="container installed-container gorgias-wizard-show--{{ ctrl.step }}" ng-controller="InstallCtrl as ctrl">

    <div class="header">
        <!--
        <a href="https://gorgias.io/#login" class="btn btn-lg btn-primary pull-right">Sign In</a>
        -->
        <a ng-href="https://gorgias.io" class="brand" target="_blank">
            <img src="../icons/white-logo.png" alt="Gorgias"/>
        </a>
    </div>

    <div class="gdemo-dropdown">
        <input type="search" class="gdemo-dropdown-search" value="" placeholder="Search templates...">
        <ul class="gdemo-dropdown-content">
            <li class="gdemo-item">
                <span class="gdemo-title">Hello</span>
                <span class="gdemo-shortcut">h</span>
                <span class="gdemo-body">Hello {<span></span>{to.first_name}}, </span>
            </li>
            <li class="gdemo-item">
                <span class="gdemo-title">How to use Gorgias</span>
                <span class="gdemo-shortcut">use</span>
                <span class="gdemo-body">It was nice talking to you.</span>
            </li>
            <li class="gdemo-item">
                <span class="gdemo-title">Kind Regards</span>
                <span class="gdemo-shortcut">kr</span>
                <span class="gdemo-body">Kind regards, {<span></span>{from.first_name}}.</span>
            </li>
            <li class="gdemo-blank-state hidden">No templates found.</li>
        </ul>
        <div class="g-dropdown-toolbar-highlighted">
            <a class="btn btn-primary" href="/pages/bg.html#/list?id=new&src=tutorial">New Template</a>
        </div>
    </div>

    <div class="gorgias-wizard-step gorgias-wizard-step-demo">

        <div class="hero text-center">
            <span class="gorgias-demo-hint">Welcome! Let's see how Gorgias works</span>
            <!-- Not in sure because only 1 step
            <h3 class="gorgias-demo-last-step-h2 hidden">Let's create your first template!</h3>-->
        </div>

        <div class="gorgias-demo">
            <p class="gorgias-demo-hint text-center">
                <span class="h">Type <span class="keyboard-key">h</span> and press <span
                    class="keyboard-key">Tab ↹</span></span>
                <span class="use hidden">Great! Now type <span class="highlighted-text">use</span> and press <span
                    class="keyboard-key">Tab ↹</span></span>
                <span class="search hidden">You can also search for templates. <span class="g-search-arrow"></span></span>
                <span class="select hidden">Select one that fits. Click on any template.</span>
                <span class="new-template hidden">You got it! Create your own template. It's easy!</span>
            </p>

            <div class="gorgias-editor-container">
                <div class="gorgias-email-header-field">
                    <span>New message</span>
                </div>
                <div class="gorgias-to-field"><span class="to">To:</span> <span class="h">Gorgias Team</span> &lt;hello@gorgias.io&gt;
                </div>
                <div class="gorgias-demo-editor" contenteditable="true">&nbsp;</div>
                <button class="gorgias-qa-btn"></button>
            </div>
        </div>
        <span class="g-template-arrow hidden"></span>

        <!--
        <div class="hidden text-center">
            <a href="#/installed?step=language" class="btn btn-lg btn-primary btn-wizard-start">
                Quickly set up Gorgias
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
        -->

        <!--<div class="browser-action hidden">
            <div class="browser-action-pointer"></div>
            <div class="browser-action-pointer-tip">
                <p>
                    <strong>Click </strong> on <img src="/icons/icon48.png" alt="gorgias icon"/> icon &
                    <strong>click</strong> on the <button class="btn btn-default">New template</button> button.
                </p>
            </div>
        </div>-->

    </div>

    <div class="gorgias-wizard-step gorgias-wizard-step-language">
        <h2>
            Choose your languages
            <small>
                and we'll automatically set up templates for them.
            </small>
        </h2>

        <form>

            <div class="checkbox" ng-repeat="lang in ctrl.languages">
                <label>
                    <input type="checkbox" ng-model="lang.enabled" ng-change="ctrl.toggleLanguage(lang)">
                    {{ lang.label }}
                </label>
            </div>

        </form>
        <p class="text-muted">Coming very soon: Spanish and Arabic. Contact us if you want to see your language here:
            support@gorgias.io</p>
        <a href="#/installed?step=types" class="btn btn-primary btn-lg btn-wizard-next">
            Add selected languages
            <i class="fa fa-angle-right"></i>
        </a>

    </div>

    <div class="gorgias-wizard-step gorgias-wizard-step-types">

        <h2>
            Choose a few templates to get started
            <small>
                and we'll add their translations in {{ctrl.enabledLanguagesLabels()}}.
            </small>
        </h2>

        <form>

            <div class="checkbox category" ng-repeat="category in ctrl.templates">
                <label class="category-label">
                    <input type="checkbox" ng-model="category.enabled" ng-change="ctrl.toggleCategory(category)"/>
                    {{ category.label }}

                </label>

                <div ng-bind="category.desc" class="template-type-description"></div>

                <div ng-repeat="t in category.templates">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="t[0].enabled" ng-change="ctrl.toggleTemplate(t)"/>
                            {{t[0].body}}
                        </label>
                    </div>
                </div>
            </div>

        </form>

        <p class="text-muted"></p>

        <a href="#/installed?step=try" class="btn btn-primary btn-lg btn-wizard-next">
            Add selected templates
            <i class="fa fa-angle-right"></i>
        </a>

    </div>

    <div class="gorgias-wizard-step gorgias-wizard-step-try">

        <h2>You're done!
            <small>of course, you can add your own templates</small>
        </h2>

        <a class="btn btn-primary btn-lg btn-wizard-next" href="/pages/bg.html#/list?id=new">
            Continue adding your own templates
            <i class="fa fa-angle-right"></i>
        </a>

        <br/><br/>
        <br/><br/>

        <div>
            <h4>Want to share your templates with your team?</h4>

            <div>
                <a class="btn btn-primary btn-lg btn-wizard-next" href="https://gorgias.io">
                    Register on gorgias.io
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="wizard-step-status" ng-if="ctrl.stepNumber > 0">
        Step
        <strong>
            {{ ctrl.stepNumber + 1 }} of {{ ctrl.steps.length }}
        </strong>
    </div>

</div>
