<header>
    <h1 ng-bind-html="title | safe"></h1>

    <div class="pull-right header-actions">
        <input type="text" class="form-control" ng-model="searchText" placeholder="Search templates" tabindex="0"
               ng-change="clearSelectedTemplates(); filterTemplates();"
               autofocus/>
    </div>
</header>

<div class="btn-toolbar">
    <div class="row no-margin">
        <a ng-href="#{{location}}?id=new" class="btn btn-primary">New template</a>
        <div class="btn-group btn-more pull-right">
            <a class="btn btn-default" ng-click="exportTemplates()" ng-if="filteredTemplates.length">Export</a>
        </div>
        <div ng-show="account.info.name && currentSubscription && currentSubscription.active"
             class="btn-group btn-more pull-right">
            <a
                href
                class="btn btn-default"
                data-toggle="modal"
                data-target="#import-modal"
                ng-show="!firestoreEnabled">
                Import
            </a>
        </div>
        <button type="button" ng-if="hasSelected" ng-click="deleteQts()"
                class="btn btn-error pull-right">Delete
        </button>
        <a type="button" ng-if="hasSelected && account.info.name && currentSubscription && currentSubscription.active"
           ng-href="#{{location}}?action=share" class="btn btn-primary pull-right">Share
        </a>
    </div>
    <div class="row no-margin checkbox-wrapper">
        <label>
            <input type="checkbox" ng-click="toggleSelectAll()" ng-model="selectedAll"/>
            <span ng-show="!selectedAll">Select all</span>
            <span ng-show="selectedAll">Selected <strong>{{filteredTemplates.length}}</strong> templates</span>
        </label>
    </div>
</div>

<div id="quicktext-table-container">
    <div ng-include="'includes/subscribe_hint.html'"></div>
    <div class="list-group quicktexts-list" ng-show="filteredTemplates.length">
        <div class="list-group-item"
             ng-repeat="template in filteredTemplates|limitTo:limitTemplates track by template.id">
            <div class="checkbox-wrapper">
                <input type="checkbox" ng-change="checkHasSelected()" ng-model="selectedQuickTexts[template.id]">
            </div>

            <a class="list-group-item-link"
               tabindex="0"
               ng-href="#{{location}}?id={{ template.id }}">
                <div class="row">
                    <div class="col-xs-4">
                        <h4 class="list-group-item-heading">
                            <span ng-bind-html="template.title | truncate: 50 | newlines | safe"/>
                            <i ng-show="template.attachments.length" class='fa fa-paperclip'/>
                            <!--
                            <i class='private-icon fa fa-lock' ng-if="template.private && location.indexOf('private') === -1" title="This template is only visible by you" />
                            -->
                        </h4>

                        <p class="quicktext-shortcut"
                           title="Text shortcut: type this text and press TAB to insert your template"
                           ng-show="template.shortcut">
                            <span>{{ template.shortcut }}</span>
                        </p>
                    </div>

                    <div class="col-xs-6">
                        <p class="list-group-item-text quicktext-detail">
                            <span class="quicktext-template" title="{{template.body | stripHTML }}"
                                  ng-bind-html="template.body| stripHTML | truncate:100 | newlines | safe"></span>
                        </p>
                        <p class="list-group-item-text quicktext-tags" ng-if="template.tags">
                        <div class="label-wrapper" ng-repeat="tag in getTags(template)">
                            <span class="tag" ng-if="tag">
                                <strong ng-if="filterTags.indexOf(tag) !== -1"><i class="fa fa-hashtag icon"></i>{{tag}} </strong>
                                <span ng-if="filterTags.indexOf(tag) === -1"><i class="fa fa-hashtag icon"></i>{{tag}} </span>
                            </span>
                        </div>
                        </p>
                    </div>
                </div>
            </a>
            <div class="hover-actions">
                <button type="button" class="btn btn-default btn-delete" ng-click="deleteQt(template)" title="Delete">
                    Delete
                </button>
            </div>
        </div>
    </div>
    <div class="row load-more text-center" ng-show="filteredTemplates.length > limitTemplates">
        <button ng-click="loadMore()" class="btn btn-default">Load more templates</button>
    </div>
</div>

<div ng-include="'includes/post_install.html'" onload="showPostInstall()"></div>
<div ng-include="'includes/form.html'"></div>
<div ng-include="'views/includes/share_form.html'"></div>
<div ng-include="'views/includes/import_form.html'"></div>
