<form role="form">
    <p class="alert alert-warning alert-dismissable" ng-show="showWarning">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> For the changes to take effect, please refresh all tabs (web pages) where you are
        using Gorgias.
    </p>

    <h4>Your Name</h4>
    <p class="help-block">Use your own name in templates</p>
    <div class="form-inline">
        <div class="form-group">
            <label for="first-name">
                First Name
            </label>
            <br/>
            <input type="text" id="first-name" ng-model="settings.name.firstName" size="25" ng-change="updateSettings()" />
        </div>

        <div class="form-group">
            <label for="last-name">
                Last Name
            </label>
            <br/>
            <input type="text" id="last-name" ng-model="settings.name.lastName" size="25" ng-change="updateSettings()" />
        </div>
    </div>
    <br />

    <h4>Keyboard Shortcut</h4>

    <p class="help-block">Quickly expand templates using a keyboard shortcut.</p>

    <div class="checkbox">
        <label>
            <input type="checkbox" id="keyboard-enabled" ng-model="settings.keyboard.enabled" ng-change="updateSettings()"/>
            Enable Keyboard Shortcut
        </label>
    </div>
    <div class="form-group" ng-show="settings.keyboard.enabled">
        <label for="keyboard-shortcut" data-toggle="tooltip" data-placement="bottom"
               data-original-title="Setup keyboard shortcut to insert templates">
            Keyboard Shortcut
            <span class="fa fa-question-circle"></span>
        </label>
        <br/>
        <input type="text" id="keyboard-shortcut" ng-model="settings.keyboard.shortcut"
               placeholder="Press any key combination" size="25" ng-click="recordSequence('keyboard-shortcut')"/>
        <button class="btn btn-default" ng-click="saveSequence()">Save</button>
    </div>
    <br/>
    <h4>Auto-complete Dialog</h4>

    <p class="help-block">Auto-complete dialog helps you search templates faster.</p>

    <div class="checkbox">
        <label for="dialog-enabled">
            <input type="checkbox" id="dialog-enabled" ng-model="settings.dialog.enabled" ng-change="updateSettings()"/>
            Enable Auto-complete Dialog
        </label>
    </div>
    <div class="checkbox" ng-show="settings.dialog.enabled">
        <label for="showQaButton">
            <input type="checkbox" id="showQaButton" ng-model="settings.qaBtn.enabled" ng-change="updateSettings()"/>
            Enable Quick Access button
        </label>
        <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom"
              data-original-title="The Quick Access button is placed in the right corner of input fields"></span>
    </div>
    <div class="form-group" ng-show="settings.dialog.enabled">
        <label for="dialog-shortcut" data-toggle="tooltip" data-placement="bottom"
               data-original-title="Setup keyboard shortcut that triggers the auto-complete dialog">
            Keyboard Shortcut
            <span class="fa fa-question-circle"></span>
        </label>
        <br/>
        <input type="text" id="dialog-shortcut" readonly="readonly" ng-model="settings.dialog.shortcut"
               placeholder="Press any key combination" size="25"/>
        <button class="btn btn-default" ng-click="recordSequence('dialog-shortcut')">Change</button>
    </div>
    <div class="form-group" ng-show="settings.dialog.enabled">
        <label for="dialog-limit" data-toggle="tooltip" data-placement="bottom"
               data-original-title="How many templates should be displayed in the dialog. Choosing a bigger number might reduce performance.">
            How many templates are shown
            <span class="fa fa-question-circle"></span>
        </label>
        <br/>
        <input type="text" id="dialog-limit" ng-model="settings.dialog.limit" ng-change="updateSettings()"/>
    </div>

    <br/>
    <h4>WYSIWYG Editor</h4>

    <p class="help-block">WYSIWYG editor helps you write rich templates.</p>

    <div class="checkbox">
        <label>
            <input type="checkbox" id="editor-enabled" ng-model="settings.editor.enabled" ng-change="updateSettings()"/>
            Enable WYSIWYG Editor
        </label>
    </div>

    <br/>

    <h4>Blacklist</h4>

    <p class="help-block">
        List of websites where Gorgias will not be active.
    </p>

    <div class="blacklist-list">

        <div class="blacklist-item" ng-repeat="item in settings.blacklist track by $index">

            <input ng-model="settings.blacklist[$index]" placeholder="www.example.com" class="blacklist-item-url"
                   ng-blur="CheckBlacklistItem($index)">

            <button type="button" class="blacklist-item-remove" title="Remove website from blacklist"
                    ng-click="RemoveBlacklistItem($index)">
                <span class="fa fa-remove"></span>
            </button>
        </div>

        <div class="blacklist-blank-state" ng-if="settings.blacklist.length === 0">
            You don't have any websites blacklisted.
        </div>

    </div>

    <div class="form-group">
        <button class="btn btn-default" ng-click="AddBlacklistItem()">
            Add website to Blacklist
        </button>
    </div>
    <br/>


    <h4>Sorting <i class="fa fa-sort-amount-asc" title="Sorting features"></i></h4>
    <p class="help-block">Sorting settings</p>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="sidebar-enabled" ng-model="settings.is_sort_template_list" ng-change="updateSettings()"/>
            Sort templates alphabetically in the Options page.
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="sidebar-enabled" ng-model="settings.is_sort_template_dialog_gmail" ng-change="updateSettings()"/>
            Sort templates alphabetically in the Auto-complete Dialog.
        </label>
    </div>

    <br/>

    <div class="form-group">
        <a href="" class="btn btn-default" ng-click="resetSettings()">Reset Settings</a>
        <a href="" class="btn btn-default" ng-click="deleteAll()">Delete all templates</a>
    </div>
</form>
