<header>
    <h1>Settings</h1>
</header>

<form role="form">
    <p class="alert alert-warning alert-dismissable" ng-show="showWarning">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> For the changes to take effect, please refresh all tabs (web pages) where you are using Gorgias.
    </p>
    <h4>Keyboard Shortcut</h4>
    <p class="help-block">Quickly expand templates using a keyboard shortcut.</p>
    <div class="checkbox">
        <label for="keyboard-enabled">Enable Keyboard Shortcut</label>
        <input type="checkbox" id="keyboard-enabled" ng-model="settings.keyboard.enabled" ng-change="updateSettings()" />
    </div>
    <div class="form-group" ng-show="settings.keyboard.enabled">
        <label for="keyboard-shortcut" data-toggle="tooltip" data-placement="bottom"
               data-original-title="Setup keyboard shortcut to expand templates">
            Keyboard Shortcut
            <span class="glyphicon glyphicon-question-sign"></span>
        </label>
        <br/>
        <input type="text" id="keyboard-shortcut" ng-model="settings.keyboard.shortcut" readonly="readonly" placeholder="Press any key combination" size="25" />
        <button class="btn btn-default" ng-click="recordSequence('keyboard-shortcut')">Change</button>
    </div>
    <br/>
    <h4>Auto-complete Dialog</h4>
    <p class="help-block">Auto-complete dialog helps you search templates faster.</p>
    <div class="checkbox">
        <label for="dialog-enabled">Enable Auto-complete Dialog</label>
        <input type="checkbox" id="dialog-enabled" ng-model="settings.dialog.enabled"  ng-change="updateSettings()" />
    </div>
    <div class="form-group" ng-show="settings.dialog.enabled">
        <label for="dialog-shortcut" data-toggle="tooltip" data-placement="bottom"
               data-original-title="Setup keyboard shortcut that triggers the auto-complete dialog">
            Keyboard Shortcut
            <span class="glyphicon glyphicon-question-sign"></span>
        </label>
        <br/>
        <input type="text" id="dialog-shortcut" readonly="readonly" ng-model="settings.dialog.shortcut" placeholder="Press any key combination" size="25" />
        <button class="btn btn-default" ng-click="recordSequence('dialog-shortcut')">Change</button>
    </div>
    <div class="form-group" ng-show="settings.dialog.enabled">
        <label for="dialog-limit" data-toggle="tooltip" data-placement="bottom"
               data-original-title="How many templates should be displayed in the dialog. Choosing a bigger number might reduce performance.">
            How many templates are shown
            <span class="glyphicon glyphicon-question-sign"></span>
        </label>
        <br/>
        <input type="text" id="dialog-limit" ng-model="settings.dialog.limit" ng-change="updateSettings()" />
    </div>
    <br/>
    <h4>WYSIWYG Editor</h4>
    <p class="help-block">WYSIWYG editor helps you write rich templates.</p>
    <div class="checkbox">
        <label for="editor-enabled">Enable WYSIWYG Editor</label>
        <input type="checkbox" id="editor-enabled" ng-model="settings.editor.enabled"  ng-change="updateSettings()" />
    </div>

    <!--
    <div class="checkbox" ng-show="settings.dialog.enabled">
        <label for="dialog-auto">Automatic popup
            <span data-toggle="tooltip" data-placement="top"
                  data-original-title="Automatically pop up the dialog while you type">
                <span class="glyphicon glyphicon-question-sign"></span>
            </span>
        </label>
        <input type="checkbox" id="dialog-auto" ng-model="settings.dialog.auto"/>
    </div>
    <div class="form-group" ng-show="settings.dialog.enabled && settings.dialog.auto">
        <label for="dialog-delay" data-toggle="tooltip" data-placement="bottom"
               data-original-title="How much time (miliseconds) to wait until the Autocomplete Dialog should be displayed.">
            Autocomplete Dialog Popup Delay
            <span class="glyphicon glyphicon-question-sign"></span>
        </label>
        <br/>
        <input type="text" id="dialog-delay" ng-model="settings.dialog.delay" />

    </div>
    -->
    <br/>

    <h4>Blacklist</h4>
    <p class="help-block">
        List of websites where Gorgias will not be active.
    </p>
    <div class="blacklist-list">

        <div class="blacklist-item" ng-repeat="item in settings.blacklist track by $index">

            <input ng-model="settings.blacklist[$index]" placeholder="www.example.com" class="blacklist-item-url" ng-blur="CheckBlacklistItem($index)">

            <button type="button" class="blacklist-item-remove" title="Remove website from blacklist" ng-click="RemoveBlacklistItem($index)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>

        <div class="blacklist-blank-state" ng-if="settings.blacklist.length === 0">
            You don't have any websites blacklisted.
        </div>

    </div>

    <div class="form-group">
        <button class="btn btn-default" ng-click="AddBlacklistItem()">
            Add website to Blacklist
        </button>
    </div>
    <br/>

    <h4>Other</h4>
    <div class="checkbox">
        <label for="sendStats" data-toggle="tooltip" data-placement="bottom"
               data-original-title="Help improve Gorgias by sending anonymous statistics.">
            Send usage statistics
            <span class="glyphicon glyphicon-question-sign"></span>
        </label>

        <input type="checkbox" id="sendStats" ng-model="settings.stats.enabled"  ng-change="updateSettings()"  />

    </div>
    <div class="form-group">
        <a href="" class="btn btn-default" ng-click="resetSettings()">Reset Settings</a>
        <a href="" class="btn btn-default" ng-click="deleteAll()">Delete all templates</a>
    </div>
</form>
