<div class="btn-toolbar">
  <button class="btn btn-primary" ng-click="showForm()">New quicktext</button>
  <!--
  <a href="" ng-click="deleteAll()">Delete all Quicktexts</a>
  -->
  <span class="pull-right search-table">
    <input type="text" class="form-control" id="search-input" ng-model="searchText" placeholder="Search quicktexts" />
  </span>
</div>
<div class="quicktext-filters pull-right">
  <span ng-repeat="(tag, count) in tags">
    <a
      href='' 
      class="label"
      ng-class="{true: 'label-primary', false: 'label-default'}[filterTags.indexOf(tag) !== -1]"
      ng-click="toggleFilterTag('{{tag}}')" 
      >{{tag}}<span ng-if="count > 1"> ({{count}})</span></a>
    </span>
  </span>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Subject</th>
      <th>Tab Completion</th>
      <th>Tags</th>
      <th>Quicktext</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="quicktext in quicktexts | filter:searchText | tagFilter:filterTags ">
      <td>{{quicktext.title}}</td>
      <td>{{quicktext.subject}}</td>
      <td>{{quicktext.shortcut}}</td>
      <td>{{quicktext.tags}}</td>
      <td title="{{quicktext.body}}" ng-bind-html="quicktext.body | truncate:100 | newlines | safe"></td>
      <td>
        <button class="btn btn-primary btn-xs edit-button" ng-click="showForm('{{quicktext.id}}')">edit</button>
        <button class="btn btn-default btn-xs delete-button" ng-click="deleteQt('{{quicktext.id}}')">delete</button>
      </td>
    </tr> 
  </tbody>
</table>
